@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
}
audio:not([controls]),
[hidden],
template {
  display: none;
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
*:after,
*:before {
  box-sizing: inherit;
}
::after,
::before {
  vertical-align: inherit;
  text-decoration: inherit;
}
:root {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
iframe,
img,
svg {
  vertical-align: middle;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  margin: 1em 0;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset,
legend {
  border: 0;
}
legend {
  white-space: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
select {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  background-color: transparent;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=number] {
  width: auto;
}
button,
input {
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
progress {
  display: inline-block;
}
[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
dl,
menu {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu {
  padding: 0 0 0 40px;
}
@font-face {
  font-family: 'klinic';
  src: url('../fonts/klinic/klinicslabmedium.eot');
  src: url('../fonts/klinic/klinicslabmedium.eot?#iefix') format('embedded-opentype'), url('../fonts/klinic/klinicslabmedium.woff2') format('woff2'), url('../fonts/klinic/klinicslabmedium.woff') format('woff'), url('../fonts/klinic/klinicslabmedium.ttf') format('truetype');
}
@font-face {
  font-family: 'marker';
  src: url('../fonts/marker/permanentmarker.eot');
  src: url('../fonts/marker/permanentmarker.eot?#iefix') format('embedded-opentype'), url('../fonts/marker/permanentmarker.woff2') format('woff2'), url('../fonts/marker/permanentmarker.woff') format('woff'), url('../fonts/marker/permanentmarker.ttf') format('truetype');
}
@font-face {
  font-family: 'geomanist';
  src: url('../fonts/geomanist/geomanist-regular.eot');
  src: url('../fonts/geomanist/geomanist-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/geomanist/geomanist-regular.woff2') format('woff2'), url('../fonts/geomanist/geomanist-regular.woff') format('woff'), url('../fonts/geomanist/geomanist-regular.ttf') format('truetype');
}
/*@font-face {
    font-family: 'geomanist-light';
    src: url('../fonts/geomanist/geomanist-light.eot');
    src: url('../fonts/geomanist/geomanist-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light.ttf') format('truetype');
}

@font-face {
    font-family: 'geomanist-medium';
    src: url('../fonts/geomanist/geomanist-medium.eot');
    src: url('../fonts/geomanist/geomanist-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium.ttf') format('truetype');
}*/
@font-face {
  font-family: 'geomanist-bold';
  src: url('../fonts/geomanist/geomanist-bold.eot');
  src: url('../fonts/geomanist/geomanist-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/geomanist/geomanist-bold.woff2') format('woff2'), url('../fonts/geomanist/geomanist-bold.woff') format('woff'), url('../fonts/geomanist/geomanist-bold.ttf') format('truetype');
}
/*.geomanistLight(@size){
  font-family: 'geomanist-light', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geomanistMedium(@size){
  font-family: 'geomanist-medium', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?1b6ycd');
  src: url('../fonts/icomoon.eot?1b6ycd#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff2?1b6ycd') format('woff2'), url('../fonts/icomoon.ttf?1b6ycd') format('truetype'), url('../fonts/icomoon.woff?1b6ycd') format('woff'), url('../fonts/icomoon.svg?1b6ycd#icomoon') format('svg');
}
[class^="icon-"],
[class*=" icon-"],
.icomoon,
.btn.btn-left:before,
.slider #next,
.slider #prev,
#vous h2 a:before,
#instagram .meta:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-down:before {
  content: "\e805";
}
.icon-half-cisors:before {
  content: "\e803";
}
.icon-half-cisors2:before {
  content: "\e804";
}
.icon-loop:before {
  content: "\e802";
}
.icon-right:before {
  content: "\e800";
}
.icon-left:before {
  content: "\e801";
}
.icon-map:before {
  content: "\e600";
}
.icon-arrow:before {
  content: "\e602";
}
/* @group Styles */
/* @group General */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
html {
  font-size: 62.5%;
}
body {
  color: #fff;
  font-family: 'klinic', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
.h3,
h4,
h5 {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}
h1 {
  font-size: 8.5em;
  margin: 0 0 .35em;
}
h1 .small {
  font-size: .35em;
  line-height: 1em;
  display: block;
  margin: 0 0 -0.25em;
}
h2 {
  font-size: 3.5em;
  line-height: 1.3em;
  margin: 1em 0;
}
h2.light {
  font-family: 'geomanist', sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  font-style: normal;
}
h3,
.h3 {
  font-size: 2.8em;
  margin: 1em 0;
}
h4 {
  font-size: 2em;
  margin: 1.33em 0;
}
h5 {
  font-size: 1.7em;
  margin: 1.67em 0;
}
h6 {
  font-size: 1.3em;
  margin: 2.33em 0;
}
p {
  margin: 1em 0;
}
strong,
b {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}
img {
  max-width: 100%;
  height: auto;
}
blockquote {
  position: relative;
  margin: 30px 0 30px -32px;
  /*.bg-quote{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 220px;
        &:before, &:after{
            content: '';
            position: absolute;
            left: 0;
            border-left: 60px solid @blue;
            border-right: 60px solid @blue;
            width: 220px;
            height: 0;
        }
        &:before {
            top: 0;
            border-bottom: 65px solid #fff;
        }
        &:after {
            bottom: 0;
            border-top: 65px solid #fff;
        }
    }*/
}
blockquote .quote,
blockquote .by {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
blockquote .quote {
  width: 244px;
  height: 220px;
  padding: 50px 30px 50px 55px;
  background: url(../layoutImg/bulle.png) no-repeat 100% 0;
  font-family: 'marker', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-align: center;
}
blockquote .quote:before {
  content: '« ';
}
blockquote .quote:after {
  content: ' »';
}
blockquote .by {
  max-width: 125px;
  margin: 10px 0 10px 8%;
  font-family: 'geomanist', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
blockquote .by b {
  display: block;
}
/******* LIENS / BOUTONS *******/
a,
button {
  text-decoration: none;
  color: #b5006a;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
a:focus,
button:focus,
a:hover,
button:hover {
  color: #ff5fac;
}
a:focus,
button:focus {
  outline: 0;
}
a:active,
button:active {
  color: #2ac0ce;
}
button {
  border: 0;
}
.underline,
#vous h2 a {
  position: relative;
}
.underline:after,
#vous h2 a:after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  background: #b5006a;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
.btn {
  display: inline-block;
  padding: 15px 25px;
  border: 3px solid;
  font-family: 'geomanist', sans-serif;
  font-size: 1.15em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}
.btn:hover,
.btn:focus {
  background: #fff;
  border-color: #fff;
  color: #b5006a;
}
.btn:active {
  background: #82004c;
  border-color: #82004c;
  color: #fff;
}
.bg-yellow .btn:hover,
.bg-yellow .btn:focus {
  color: #ffc200;
}
.bg-yellow .btn:active {
  background: #cc9b00;
  border-color: #cc9b00;
}
.bg-blue .btn:hover,
.bg-blue .btn:focus {
  color: #2ac0ce;
}
.bg-blue .btn:active {
  color: #2199a4;
  border-color: #2199a4;
}
.bg-pink .btn:hover,
.bg-pink .btn:focus {
  color: #ff5fac;
}
.bg-pink .btn:active {
  background: #ff2c92;
  border-color: #ff2c92;
}
.btn.btn-left {
  padding-left: 35px;
  position: relative;
}
.btn.btn-left:before {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  margin: auto;
  font-size: 18px;
  content: "\e805";
  -webkit-transition: top 0.15s ease-in-out;
  -moz-transition: top 0.15s ease-in-out;
  -o-transition: top 0.15s ease-in-out;
  transition: top 0.15s ease-in-out;
}
.btn.btn-left:hover:before,
.btn.btn-left:focus:before {
  top: 5px;
}
.bullshitBtn {
  position: absolute;
  opacity: .7;
}
.bullshitBtn.top-left,
.bullshitBtn.top-center,
.bullshitBtn.top-right {
  top: 5vh;
}
.bullshitBtn.bottom-left,
.bullshitBtn.bottom-center,
.bullshitBtn.bottom-right {
  bottom: 5vh;
}
.bullshitBtn.top-left,
.bullshitBtn.bottom-left {
  left: 20%;
}
.bullshitBtn.top-center,
.bullshitBtn.bottom-center {
  left: 45%;
}
.bullshitBtn.top-right,
.bullshitBtn.bottom-right {
  right: 20%;
}
.bullshitBtn.not-a-btn {
  cursor: auto;
  opacity: .8;
}
.bullshitBtn.not-a-btn:active {
  opacity: 1;
}
.bullshitBtn:hover,
.bullshitBtn:focus {
  opacity: 1;
}
.bullshitBtn:active {
  opacity: .4;
}
.bullshit {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.bullshit img {
  min-width: 200px;
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bullshit.big {
  width: 767px;
  height: 767px;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}
.bullshit.big.full {
  width: 100%;
  height: 100%;
}
.bullshit.big.full img {
  max-width: 90%;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
/******* CLASSES GENERALES  *******/
.center,
.section {
  text-align: center;
}
.left {
  text-align: left;
}
.bg-purple {
  background: #b5006a url(../layoutImg/texture-purple.png) 50% 50% fixed;
}
.bg-yellow {
  background: #ffc200 url(../layoutImg/texture-yellow.png) 50% 50% fixed;
}
.bg-blue {
  background: #2ac0ce url(../layoutImg/texture-blue.png) 50% 50% fixed;
}
.bg-blue blockquote .quote {
  color: #2ac0ce;
}
.bg-pink {
  background: #ff5fac;
}
.sup-title {
  display: block;
  margin: 0 0 15px;
  font-family: 'geomanist', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-transform: uppercase;
}
.sup-title + h2 {
  margin-top: -13px;
}
.sub-title {
  font-family: 'klinic', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
.table {
  display: table;
}
.w50 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.table .w50 {
  display: table-cell;
}
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/******* MODULES *******/
.container {
  max-width: 1200px;
  padding: 0 150px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
.container.animTxtDone {
  opacity: 0;
}
.section {
  display: table;
  width: 100%;
  height: 650px;
  height: 90vh;
  position: relative;
}
.section .section-cell {
  display: table-cell;
  padding: 50px 0;
  vertical-align: middle;
}
.menu {
  display: inline-block;
  vertical-align: top;
}
.menu ul {
  list-style: none;
  padding: 0;
}
.menu a {
  position: relative;
}
.menu a:before {
  content: '›';
  display: inline-block;
  margin: 0 5px 0 0;
}
.menu a:after {
  width: 0;
  position: absolute;
  left: 0;
  content: '-';
  overflow: hidden;
}
.menu a:hover,
.menu a:focus {
  padding: 0 0 0 5px;
}
.menu a:hover:after,
.menu a:focus:after {
  width: 5px;
  overflow: visible;
}
.reset-ul,
.slider ul,
.blog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider {
  padding: 0 50px;
  position: relative;
}
.slider ul {
  height: 500px;
  position: relative;
}
.slider #next,
.slider #prev {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  z-index: 1;
  overflow: hidden;
  text-indent: -99em;
  color: #fff;
}
.slider #next:before,
.slider #prev:before {
  display: block;
  text-indent: 0;
  font-size: 40px;
  font-weight: 700;
}
.slider #next:hover,
.slider #prev:hover,
.slider #next:focus,
.slider #prev:focus {
  opacity: .6;
}
.slider #next {
  right: 0;
}
.slider #next:before {
  content: '\e800';
}
.slider #next:hover {
  right: -5px;
}
.slider #prev {
  left: 0;
}
.slider #prev:before {
  content: '\e801';
}
.slider #prev:hover {
  left: -5px;
}
.slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slide .img,
.slide .txt {
  display: inline-block;
  vertical-align: top;
}
.slide .img {
  width: 35%;
  padding: 70px 40px 0 90px;
  position: relative;
}
.slide .img img {
  max-width: 155px;
}
.slide .txt {
  width: 55%;
  margin: 0 0 0 10%;
}
.slide h3 {
  max-width: 350px;
  margin-bottom: 70px;
}
.slide .anim-slide {
  opacity: 0;
}
#tv {
  width: 301px;
  height: 742px;
  position: absolute;
  top: 30px;
  left: -17px;
  z-index: -1;
  background: url(../layoutImg/tv.png) no-repeat;
}
.blog-list li {
  display: inline-block;
  position: relative;
  width: 47.73%;
  height: 47.73%;
}
.blog-list li:first-child {
  margin: 0 4.54% 4.44% 0;
}
.blog-list li.last {
  margin: 0 0 0 4.54%;
}
.blog-list .hover {
  top: 200px;
  bottom: 12px;
  left: 12px;
  right: 12px;
}
.blog-list .black-hover-link {
  overflow: hidden;
  /*&:hover, &:focus{
            .hover{
                top: 12px;
            }
        }*/
}
.black-hover-link {
  display: block;
  position: relative;
  /*&:hover, &:focus{
        .hover{
            padding: 10px;
            overflow: visible;
            .sup-title, .content{
                opacity: 1;
                margin-top: 0;
            }
        }
        img{
            opacity: .8;
        }
    }*/
}
.black-hover-link .hover {
  padding: 0 10px;
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.black-hover-link .hover em,
.black-hover-link .hover i {
  font-size: 1.3em;
}
.black-hover-link .hover .content {
  margin-top: 50px;
  opacity: 0;
}
.black-hover-link .hover .sup-title {
  margin-top: -20px;
  opacity: 0;
}
.black-hover-link .hover .content {
  display: block;
}
.black-hover-link img {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.black-hover-link:active {
  border: 3px solid #ff5fac;
}
/******* HEADER *******/
#header {
  top: 30px;
  left: 4%;
}
#header,
#main-menu {
  position: fixed;
  z-index: 10;
}
#logo {
  display: block;
  width: 180px;
  height: 180px;
  float: left;
  background: url(../layoutImg/logo.png) no-repeat 50% 50%;
  background-size: 120px;
  text-indent: -999em;
  overflow: hidden;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.home #logo {
  background: url(../layoutImg/logoMouche.png) no-repeat;
  background-size: 720px;
}
#main-menu {
  width: 160px;
  padding: 15px 0 15px 30px;
  top: 60px;
  right: 4%;
  font-family: 'geomanist', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
#main-menu ul {
  padding: 0;
  margin: 0;
}
#main-menu a {
  text-transform: uppercase;
  color: #fff;
}
#main-menu a:hover,
#main-menu a:focus {
  opacity: .7;
}
#main-menu a:active {
  opacity: 1;
}
#main-menu .actif a {
  opacity: .5;
  padding: 0 0 0 5px;
}
#main-menu .actif a:after {
  width: 5px;
  overflow: visible;
}
#burger {
  display: none;
}
/******* FOOTER *******/
#footer {
  padding: 70px 30px 40px;
  color: #9f9f9f;
  /*.w50{
        overflow: hidden;
    }*/
}
#footer .menu {
  max-width: 220px;
}
#footer .menu:first-child {
  margin: 0 0 50px;
}
.phrase {
  width: 100%;
  max-width: 460px;
  float: right;
  text-align: center;
}
.phrase .h3 {
  display: table;
  margin: 0 auto 15px;
  line-height: 1.1em;
}
.phrase .h3 span {
  display: table-cell;
  vertical-align: middle;
}
#phrase-creuse {
  padding: 25px 50px 40px;
  border: 1px dashed;
  position: relative;
  color: #b5006a;
}
#phrase-creuse button span {
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0;
  font-size: 12px;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
#phrase-creuse button:hover span,
#phrase-creuse button:focus span {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  -moz-transition: -moz-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out,-moz-transform 0.4s ease-in-out,-o-transform 0.4s ease-in-out,transform 0.4s ease-in-out;
}
#cisors {
  position: absolute;
  top: -25px;
  left: 30px;
}
#cisors.open #cisors1,
#phrase-creuse:hover #cisors1 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
#cisors.open #cisors2,
#phrase-creuse:hover #cisors2 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
#cisors.close #cisors1 {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
#cisors.close #cisors2 {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}
#cisors.on-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#cisors.on-bottom {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#cisors.on-left {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.cisors {
  position: absolute;
  font-size: 50px;
  color: #b5006a;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.cisors.close {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#cisors2 {
  top: 3px;
}
/******* WRAPPER *******/
/******* ENTETE *******/
.head .container {
  padding-top: 5px;
  padding-bottom: 70px;
}
/******* ACCUEIL *******/
#pipe {
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
#vous h2 {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .25em;
}
#vous h2 a {
  position: relative;
}
#vous h2 a:before {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: -70px;
  content: "\e602";
  font-size: 60px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
#vous h2 a:hover,
#vous h2 a:focus {
  color: #fff;
}
#vous h2 a:hover:after,
#vous h2 a:focus:after {
  background: #fff;
}
#vous h2 a:hover:before {
  opacity: 1;
}
#vous h2 a:active {
  opacity: .7;
}
#vous h2 strong,
#vous h2 a {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
#vous strong,
#vous span {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
#vous.fade strong,
#vous.fade span,
#vous.fade a {
  opacity: .2;
}
#vous.fade .on {
  opacity: 1;
}
#vous.fade .on:active {
  opacity: .7;
}
#vous.fade #bgVous {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#vous.fade1 #bgVous {
  background-image: url(../layoutImg/vous/teletubies.png);
  background-position: 50% 100%;
}
#vous.fade2 #bgVous {
  background-image: url(../layoutImg/vous/tronconneuse.png);
}
#vous.fade3 #bgVous {
  background-image: url(../layoutImg/vous/noise.png);
}
#vous.fade4 #bgVous {
  background-image: url(../layoutImg/vous/fouet.png);
}
#bgVous {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}
#confiance {
  overflow: hidden;
}
#confiance h2 {
  margin-left: 45%;
}
#live .blog-list {
  padding: 0 0 0 10px;
}
#instagram {
  padding: 0 10px 0 0;
  /*.black-hover-link{
        &:hover, &:focus{
            .hover{
                top: 0;
                height: 250px;
            }
        }
    }*/
}
#instagram .hover {
  width: 250px;
  height: 0;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#instagram .meta:before {
  content: "\e600";
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 20px;
}
#instagram .desc {
  display: block;
  margin: 20px 0 0;
}
#bgMasques {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../layoutImg/masques-pink.png) fixed;
  background-position: 0 100%;
}
/* @end */
/* @end */
/* @group Responsive horizontal */
@media (max-width: 1350px) {
  #header {
    left: 0;
  }
  #main-menu {
    right: 0;
  }
}
@media (max-width: 1150px) {
  h1 {
    font-size: 7.5em;
  }
  blockquote .quote {
    width: 215px;
    height: 195px;
    background-size: 100%;
    font-size: 1.1em;
  }
  blockquote .by {
    margin-left: 2.2%;
  }
  .black-hover-link .hover em,
  .black-hover-link .hover i {
    font-size: 1.1em;
  }
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  #main-menu {
    width: 150px;
  }
}
@media (max-width: 979px) {
  .container {
    padding: 0 20px;
  }
  #header,
  #main-menu {
    position: absolute;
  }
  #header {
    top: -10px;
  }
  #main-menu {
    top: 20px;
  }
  .head {
    padding-top: 140px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2.8em;
  }
  h2.light {
    font-size: 2.8em;
  }
  h3,
  .h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.7em;
  }
  h5 {
    font-size: 1.3em;
  }
  h6 {
    font-size: 1em;
  }
  blockquote {
    margin-left: 0;
  }
  blockquote .by {
    display: block;
    margin: 0 auto;
  }
  .bullshit.big {
    width: 480px;
    height: 480px;
  }
  .slider #next,
  .slider #prev {
    top: 40%;
  }
  .slide .img,
  .slide .txt {
    display: block;
    width: 100%;
  }
  .slide .img {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .slide .txt {
    margin: 20px 0 0;
    text-align: center;
  }
  .slide h3 {
    margin: 50px 0;
    max-width: none;
  }
  #tv {
    left: -40px;
    right: 0;
    margin: auto;
  }
  #footer {
    text-align: center;
  }
  #footer > .w50 {
    display: block;
    width: 100%;
  }
  #footer .menu {
    width: 33.3%;
    max-width: none;
  }
  .phrase {
    display: inline-block;
    float: none;
    margin: 30px 0 0;
  }
  #vous.fade .section-cell {
    background-size: 80%;
  }
  #confiance h2 {
    margin-left: 0;
    text-align: center;
  }
  #live .table {
    display: block;
  }
  #live .table .w50 {
    display: block;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  #live #instagram {
    padding: 0;
    margin-bottom: 20px;
  }
  #live .blog-list {
    padding: 0;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 3.2em;
  }
  h1 .small {
    font-size: .45em;
    margin: 0 0 -0.05em;
  }
  .bullshit.big {
    width: 360px;
    height: 360px;
  }
  .slider {
    padding: 0 30px;
  }
  .slider #next,
  .slider #prev {
    top: 45%;
    width: 30px;
    height: 30px;
  }
  .slider #next:before,
  .slider #prev:before {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .bullshit.big {
    width: 300px;
    height: 300px;
  }
  .blog-list {
    text-align: center;
  }
  .blog-list li {
    width: auto;
    margin: 15px 0 0;
    text-align: left;
  }
  .blog-list li:first-child {
    margin: 0;
  }
  .blog-list li.last {
    margin: 15px 0 0;
  }
  .slider {
    padding: 0;
  }
  .slider #next {
    right: -10px;
  }
  .slider #next:hover {
    right: -15px;
  }
  .slider #prev {
    left: -10px;
  }
  .slider #prev:hover {
    left: -15px;
  }
}
@media (max-height: 850px) {
  .bullshitBtn.top-left,
  .bullshitBtn.top-center,
  .bullshitBtn.top-right {
    top: 10vh;
  }
  .bullshitBtn.bottom-left,
  .bullshitBtn.bottom-center,
  .bullshitBtn.bottom-right {
    bottom: 10vh;
  }
}
@media (max-height: 680px) {
  .bullshitBtn.top-left,
  .bullshitBtn.top-center,
  .bullshitBtn.top-right {
    top: 5vh;
  }
  .bullshitBtn.bottom-left,
  .bullshitBtn.bottom-center,
  .bullshitBtn.bottom-right {
    bottom: 5vh;
  }
}
/* @end */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
