@charset 'utf-8';
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  vertical-align: middle;
}
audio:not([controls]),
[hidden],
template {
  display: none;
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
*:after,
*:before {
  box-sizing: inherit;
}
::after,
::before {
  vertical-align: inherit;
  text-decoration: inherit;
}
:root {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
iframe,
img,
svg {
  vertical-align: middle;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'courier new', monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  margin: 1em 0;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset,
legend {
  border: 0;
}
legend {
  white-space: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
select {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  background-color: transparent;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input[type=search] {
  -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=number] {
  width: auto;
}
button,
input {
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
progress {
  display: inline-block;
}
[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
dl,
menu {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu {
  padding: 0 0 0 40px;
}
@font-face {
  font-family: 'klinic';
  src: url('../fonts/klinic/klinicslabmedium.eot');
  src: url('../fonts/klinic/klinicslabmedium.eot?#iefix') format('embedded-opentype'), url('../fonts/klinic/klinicslabmedium.woff2') format('woff2'), url('../fonts/klinic/klinicslabmedium.woff') format('woff'), url('../fonts/klinic/klinicslabmedium.ttf') format('truetype');
}
@font-face {
  font-family: 'klinicBold';
  src: url('../fonts/klinic/klinicslabbold.eot');
  src: url('../fonts/klinic/klinicslabbold.eot?#iefix') format('embedded-opentype'), url('../fonts/klinic/klinicslabbold.woff2') format('woff2'), url('../fonts/klinic/klinicslabbold.woff') format('woff'), url('../fonts/klinic/klinicslabbold.ttf') format('truetype');
}
@font-face {
  font-family: 'klinicIt';
  src: url('../fonts/klinic/klinicslabmediumit.eot');
  src: url('../fonts/klinic/klinicslabmediumit.eot?#iefix') format('embedded-opentype'), url('../fonts/klinic/klinicslabmediumit.woff2') format('woff2'), url('../fonts/klinic/klinicslabmediumit.woff') format('woff'), url('../fonts/klinic/klinicslabmediumit.ttf') format('truetype');
}
@font-face {
  font-family: 'marker';
  src: url('../fonts/marker/permanentmarker.eot');
  src: url('../fonts/marker/permanentmarker.eot?#iefix') format('embedded-opentype'), url('../fonts/marker/permanentmarker.woff2') format('woff2'), url('../fonts/marker/permanentmarker.woff') format('woff'), url('../fonts/marker/permanentmarker.ttf') format('truetype');
}
@font-face {
  font-family: 'geomanist';
  src: url('../fonts/geomanist/geomanist-regular.eot');
  src: url('../fonts/geomanist/geomanist-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/geomanist/geomanist-regular.woff2') format('woff2'), url('../fonts/geomanist/geomanist-regular.woff') format('woff'), url('../fonts/geomanist/geomanist-regular.ttf') format('truetype');
}
/*@font-face {
    font-family: 'geomanist-light';
    src: url('../fonts/geomanist/geomanist-light.eot');
    src: url('../fonts/geomanist/geomanist-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light.ttf') format('truetype');
}

@font-face {
    font-family: 'geomanist-medium';
    src: url('../fonts/geomanist/geomanist-medium.eot');
    src: url('../fonts/geomanist/geomanist-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium.ttf') format('truetype');
}*/
@font-face {
  font-family: 'geomanist-bold';
  src: url('../fonts/geomanist/geomanist-bold.eot');
  src: url('../fonts/geomanist/geomanist-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/geomanist/geomanist-bold.woff2') format('woff2'), url('../fonts/geomanist/geomanist-bold.woff') format('woff'), url('../fonts/geomanist/geomanist-bold.ttf') format('truetype');
}
/*.geomanistLight(@size){
  font-family: 'geomanist-light', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geomanistMedium(@size){
  font-family: 'geomanist-medium', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?1b6ycd');
  src: url('../fonts/icomoon.eot?1b6ycd#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff2?1b6ycd') format('woff2'), url('../fonts/icomoon.ttf?1b6ycd') format('truetype'), url('../fonts/icomoon.woff?1b6ycd') format('woff'), url('../fonts/icomoon.svg?1b6ycd#icomoon') format('svg');
}
[class^='icon-'],
[class*=' icon-'],
.icomoon,
.btn.btn-down:before,
.btn.btn-right:before,
.link:before,
.second-menu a:before,
.slider #next,
.slider #prev,
#vous h2 a:before,
#vous .h2 a:before,
#instagram .meta:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-right-small:before {
  content: '\e806';
}
.icon-down:before {
  content: '\e805';
}
.icon-up:before {
  content: '\e807';
}
.icon-half-cisors:before {
  content: '\e803';
}
.icon-half-cisors2:before {
  content: '\e804';
}
.icon-loop:before {
  content: '\e802';
}
.icon-right:before {
  content: '\e800';
}
.icon-left:before {
  content: '\e801';
}
.icon-map:before {
  content: '\e600';
}
.icon-arrow:before {
  content: '\e602';
}
/* @group Styles */
/* @group General */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}
html {
  font-size: 62.5%;
}
html.menuOpen {
  overflow: hidden;
}
body {
  color: #565656;
  font-family: 'klinic', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../layoutImg/texture-black.png) 50% 50% fixed;
}
.menuOpen body {
  overflow: hidden;
  /* fix windows phone */
  position: absolute;
  height: 100%;
  width: 100%;
}
h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
.h5 {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}
h1 {
  font-size: 6.7em;
  margin: 0 0 .35em;
}
h1 .small {
  font-size: .35em;
  line-height: 1em;
  display: block;
  margin: 0 0 -0.25em;
}
h2,
h3,
h4,
h5 {
  color: #b5006a;
}
.section h2,
.section h3,
.section h4,
.section h5 {
  color: #fff;
}
h2,
.h2 {
  font-size: 2.8em;
  line-height: 1.3em;
  margin: 1em 0;
}
h2.light,
.h2.light {
  font-family: 'geomanist', sans-serif;
  font-size: 2.8em;
  font-weight: normal;
  font-style: normal;
}
h3,
.h3 {
  font-size: 2.2em;
  margin: 1em 0;
}
h4 {
  font-size: 1.8em;
  margin: 1.4em 0;
}
h5,
.h5 {
  font-size: 1.4em;
  margin: 1.6em 0;
}
h6 {
  font-size: 1.2em;
  margin: 2em 0;
}
p {
  margin: 1.8em 0;
  line-height: 1.25em;
}
strong,
b {
  font-family: 'klinicBold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
em,
i,
blockquote {
  font-family: 'klinicIt', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  margin: 5em 0;
  padding: 0 0 0 20px;
  list-style: none;
}
ol li,
ul li {
  position: relative;
  margin: .8em 0;
}
ol li:before,
ul li:before {
  position: absolute;
  left: -20px;
  content: '•';
  font-family: 'klinicBold', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
img.alignleft {
  float: left;
  margin: 10px 20px 10px -75px;
}
img.alignright {
  float: right;
  margin: 10px -75px 10px 20px;
}
img.alignnone {
  max-width: 150%;
  margin: 0 -75px;
}
blockquote {
  max-width: 610px;
  margin: 3.5em auto;
  font-size: 1.3em;
  text-align: center;
}
blockquote p {
  padding: 0;
  margin: 20px 0;
  line-height: 1.4em;
}
blockquote p + p {
  font-size: .85em;
}
blockquote p + p:before {
  content: '― ';
}
/******* LIENS / BOUTONS *******/
a,
button {
  color: #b5006a;
  -webkit-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}
a:focus,
button:focus,
a:hover,
button:hover {
  color: #ff5fac;
}
a:focus,
button:focus {
  outline: 0;
}
a:active,
button:active {
  color: #2ac0ce;
}
button {
  border: 0;
}
.underline,
.no-js #vous h2 a,
.no-js #vous .h2 a,
#vous h2 a div,
#vous .h2 a div {
  position: relative;
  text-decoration: none;
}
.underline:after,
.no-js #vous h2 a:after,
.no-js #vous .h2 a:after,
#vous h2 a div:after,
#vous .h2 a div:after {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  background: #b5006a;
  -webkit-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}
.btn {
  display: inline-block;
  padding: 15px 25px;
  border: 3px solid;
  font-family: 'geomanist', sans-serif;
  font-size: 0.89em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #b5006a;
}
.btn:hover,
.btn:focus {
  background: #b5006a;
  border-color: #b5006a;
  color: #fff;
}
.btn:active {
  background: #82004c;
  border-color: #82004c;
  color: #fff;
}
.section .btn {
  color: #fff;
}
.section .btn:hover,
.section .btn:focus {
  background: #fff;
  border-color: #fff;
}
.section .btn:active {
  color: #fff;
}
.bg-purple .btn:hover,
.bg-purple .btn:focus {
  color: #b5006a;
}
.bg-purple .btn:active {
  background: #82004c;
  border-color: #82004c;
}
.bg-yellow .btn:hover,
.bg-yellow .btn:focus {
  color: #ffc200;
}
.bg-yellow .btn:active {
  background: #cc9b00;
  border-color: #cc9b00;
}
.bg-blue .btn:hover,
.bg-blue .btn:focus {
  color: #2ac0ce;
}
.bg-blue .btn:active {
  color: #2199a4;
  border-color: #2199a4;
}
.bg-pink .btn:hover,
.bg-pink .btn:focus {
  color: #ff5fac;
}
.bg-pink .btn:active {
  background: #ff2c92;
  border-color: #ff2c92;
}
.btn.btn-down,
.btn.btn-right {
  padding-left: 35px;
  position: relative;
}
.btn.btn-down:before,
.btn.btn-right:before {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  margin: auto;
  font-size: 18px;
}
.btn.btn-down:before {
  content: '\e805';
  -webkit-transition: top 0.15s ease-in-out;
          transition: top 0.15s ease-in-out;
}
.btn.btn-down:hover:before,
.btn.btn-down:focus:before {
  top: 5px;
}
.btn.btn-right:before {
  content: '\e806';
  -webkit-transition: left 0.15s ease-in-out;
          transition: left 0.15s ease-in-out;
}
.btn.btn-right:hover:before,
.btn.btn-right:focus:before {
  left: 15px;
}
.btn-down.icon-down {
  display: inline-block;
  width: 70px;
  height: 70px;
  position: relative;
  font-size: 70px;
  color: #fff;
  text-decoration: none;
}
.btn-down.icon-down:before {
  display: block;
  position: absolute;
  top: 0;
}
.btn-down.icon-down:hover,
.btn-down.icon-down:focus {
  color: #b5006a;
}
.btn-down.icon-down:hover:before,
.btn-down.icon-down:focus:before {
  top: 5px;
}
.link {
  position: relative;
  font-family: 'klinicBold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  color: #b5006a;
  text-decoration: underline;
}
.link:before {
  content: '\e806';
  position: absolute;
  top: 3px;
  left: -15px;
  text-decoration: none;
}
.link:hover {
  color: #ff5fac;
}
.bullshitBtn {
  position: absolute;
  opacity: .7;
}
.bullshitBtn.top-left,
.bullshitBtn.top-center,
.bullshitBtn.top-right {
  top: 5vh;
}
.bullshitBtn.bottom-left,
.bullshitBtn.bottom-center,
.bullshitBtn.bottom-right {
  bottom: 5vh;
}
.bullshitBtn.top-left,
.bullshitBtn.bottom-left {
  left: 20%;
}
.bullshitBtn.top-center,
.bullshitBtn.bottom-center {
  left: 45%;
}
.bullshitBtn.top-right,
.bullshitBtn.bottom-right {
  right: 20%;
}
.bullshitBtn.not-a-btn {
  cursor: auto;
  opacity: .8;
}
.bullshitBtn.not-a-btn:active {
  opacity: 1;
}
.bullshitBtn:hover,
.bullshitBtn:focus {
  opacity: 1;
}
.bullshitBtn:active {
  opacity: .4;
}
.bullshit {
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
          transition: 0.4s ease-in-out;
}
.bullshit img {
  min-width: 200px;
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.bullshit.big {
  width: 760px;
  height: 760px;
  -webkit-transition: 0.8s ease-in-out;
          transition: 0.8s ease-in-out;
}
.bullshit.big.full {
  width: 100%;
  height: 100%;
  -webkit-transition: none;
          transition: none;
}
.bullshit.big.full img {
  max-width: 90%;
}
/******* MODULES *******/
.container {
  max-width: 1200px;
  padding: 0 130px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
}
.container.on {
  opacity: 0;
}
.section {
  display: table;
  width: 100%;
  height: 650px;
  height: 90vh;
  position: relative;
  color: #fff;
}
.section .section-cell {
  display: table-cell;
  padding: 50px 0;
  vertical-align: middle;
}
.menu {
  display: inline-block;
  vertical-align: top;
}
.menu ul {
  font-size: .78em;
}
.menu a {
  position: relative;
  text-decoration: none;
}
.menu a:before {
  content: '›';
  display: inline-block;
  margin: 0 5px 0 0;
}
.menu a:after {
  width: 0;
  position: absolute;
  left: 0;
  content: '-';
  overflow: hidden;
}
.menu a:hover,
.menu a:focus {
  padding: 0 0 0 5px;
}
.menu a:hover:after,
.menu a:focus:after {
  width: 5px;
  overflow: visible;
}
.reset-ul,
.menu ul,
.second-menu ul,
.slider ul,
.blog-list,
.presta-list,
.presta-slider ul {
  padding: 0;
  margin: 0;
}
.reset-ul li,
.menu ul li,
.second-menu ul li,
.slider ul li,
.blog-list li,
.presta-list li,
.presta-slider ul li {
  margin: 0;
}
.reset-ul li:before,
.menu ul li:before,
.second-menu ul li:before,
.slider ul li:before,
.blog-list li:before,
.presta-list li:before,
.presta-slider ul li:before {
  display: none;
}
.second-menu {
  width: 100%;
  height: 70px;
  border-bottom: 2px dashed;
  position: fixed;
  top: -70px;
  z-index: 12;
  overflow: hidden;
}
.second-menu ul {
  width: 730px;
  position: relative;
  margin: 0 auto;
}
.second-menu li {
  position: absolute;
  top: 0;
  line-height: 70px;
  -webkit-transition: top 0.3s ease-in-out;
          transition: top 0.3s ease-in-out;
}
.second-menu li.left {
  left: 0;
}
.second-menu li.right {
  right: 0;
}
.second-menu li.up a:before {
  content: '\e807';
}
.second-menu li.up.hide {
  top: 70px;
}
.second-menu li.down a:before {
  content: '\e805';
}
.second-menu li.down.hide {
  top: -70px;
}
.second-menu a {
  text-decoration: none;
}
.second-menu a:before {
  position: absolute;
  left: -30px;
  font-size: 35px;
  line-height: 70px;
}
.isMobile .second-menu {
  display: none;
}
.slider {
  padding: 0 50px;
  position: relative;
}
.slider ul {
  height: 500px;
  position: relative;
}
.no-js .slider ul {
  height: auto;
}
.slider #next,
.slider #prev {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  z-index: 1;
  overflow: hidden;
  text-indent: -99em;
  color: #fff;
  font-weight: 700;
}
.ie10 .slider #next,
.ie10 .slider #prev,
.ie9 .slider #next,
.ie9 .slider #prev {
  font-weight: normal;
}
.slider #next:before,
.slider #prev:before {
  display: block;
  text-indent: 0;
  font-size: 40px;
}
.slider #next:hover,
.slider #prev:hover,
.slider #next:focus,
.slider #prev:focus {
  opacity: .6;
}
.slider #next {
  right: 0;
}
.slider #next:before {
  content: '\e800';
}
.slider #next:hover {
  right: -5px;
}
.slider #prev {
  left: 0;
}
.slider #prev:before {
  content: '\e801';
}
.slider #prev:hover {
  left: -5px;
}
_:-ms-input-placeholder #next:before,
.slider #next:before,
_:-ms-input-placeholder #prev:before,
.slider #prev:before {
  font-weight: normal;
}
.slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slide .img,
.slide .txt {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.slide .img {
  width: 35%;
  padding: 70px 40px 0 90px;
  position: relative;
}
.slide .img img {
  max-width: 155px;
}
.slide .txt {
  width: 55%;
  margin: 0 0 0 10%;
}
.slide h3 {
  max-width: 350px;
  margin-bottom: 70px;
}
.slide .anim-slide {
  opacity: 0;
}
.no-js .slide .anim-slide {
  opacity: 1;
}
.slide blockquote {
  max-width: none;
  position: relative;
  margin: 30px 0 30px -32px;
  font-size: 1em;
  text-align: left;
}
.slide blockquote b {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
.slide blockquote .quote,
.slide blockquote .by {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.slide blockquote .quote {
  width: 244px;
  height: 220px;
  padding: 50px 30px 50px 55px;
  background: url(../layoutImg/bulle.png) no-repeat 100% 0;
  font-family: 'marker', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-align: center;
  color: #2ac0ce;
}
.slide blockquote .quote:before {
  content: '« ';
}
.slide blockquote .quote:after {
  content: ' »';
}
.slide blockquote .by {
  max-width: 125px;
  margin: 10px 0 10px 8%;
  font-family: 'geomanist', sans-serif;
  font-size: 0.78em;
  font-weight: normal;
  font-style: normal;
}
.slide blockquote .by b {
  display: block;
}
.no-js .slide {
  position: relative;
  overflow: hidden;
}
.tv {
  width: 301px;
  height: 742px;
  position: absolute;
  top: 30px;
  left: -17px;
  z-index: -1;
  background: url(../layoutImg/tv.png) no-repeat;
}
.blog-list li {
  display: inline-block;
  width: 47.73%;
  height: 47.73%;
  position: relative;
  vertical-align: top;
}
.blog-list li:first-child {
  margin: 0 4.54% 4.44% 0;
}
.blog-list li.last {
  margin: 0 0 0 4.54%;
}
.blog-list .hover {
  top: 220px;
  bottom: 12px;
  left: 12px;
  right: 12px;
}
.isMobile .blog-list .hover,
.no-js .blog-list .hover {
  top: 12px;
}
.blog-list .black-hover-link {
  overflow: hidden;
}
.black-hover-link {
  display: block;
  position: relative;
}
.black-hover-link .hover {
  padding: 0 10px;
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.black-hover-link .hover .content {
  margin-top: 50px;
  opacity: 0;
}
.isMobile .black-hover-link .hover .content,
.no-js .black-hover-link .hover .content {
  margin-top: 0;
  opacity: 1;
}
.black-hover-link .hover .sup-title {
  margin-top: -20px;
  opacity: 0;
}
.isMobile .black-hover-link .hover .sup-title,
.no-js .black-hover-link .hover .sup-title {
  margin-top: 0;
  opacity: 1;
}
.black-hover-link .hover .content {
  display: block;
}
.isMobile .black-hover-link .hover,
.no-js .black-hover-link .hover {
  padding: 10px;
}
.black-hover-link:active {
  border: 3px solid #ff5fac;
}
.presta-list li {
  display: inline-block;
  width: 32%;
  height: 32%;
  vertical-align: top;
}
.presta-list li.two {
  margin: 0 2% 2%;
}
.presta-list li.five {
  margin: 0 2%;
}
.presta-list .hover,
.presta-list .contact-link {
  position: absolute;
}
.presta-list .hover:before,
.presta-list .contact-link:before {
  content: '';
  width: 0px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.presta-list .hover > span,
.presta-list .contact-link > span {
  display: inline-block;
  width: 98%;
  box-sizing: border-box;
  vertical-align: middle;
}
.presta-list .hover {
  display: block;
  padding: 10px;
  top: 80%;
  bottom: 12px;
  left: 12px;
  right: 12px;
  overflow: hidden;
  background: rgba(255, 194, 0, 0.8);
}
.presta-list .hover .link {
  margin-top: 50px;
  opacity: 0;
}
.presta-list .link {
  display: inline-block;
  -webkit-transition: color 0.15s ease-in-out;
          transition: color 0.15s ease-in-out;
}
.presta-list .title {
  display: block;
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1.67em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}
.presta-list .cat {
  display: block;
  margin-top: 20px;
  opacity: 0;
}
.presta-list a {
  display: block;
  color: #fff;
}
.presta-list .contact-link {
  top: 0;
  bottom: 0;
  background-image: url(../layoutImg/ampoules.png);
}
.presta-list .contact-link > span {
  padding: 0 39px;
}
.no-js .presta-list .hover,
.isMobile .presta-list .hover {
  top: 12px;
}
.no-js .presta-list .hover .link,
.isMobile .presta-list .hover .link {
  margin-top: 0;
  opacity: 1;
}
.no-js .presta-list .cat,
.isMobile .presta-list .cat {
  margin-top: 10px;
  opacity: 1;
}
.contact-link {
  display: block;
  text-decoration: none;
  background-position: 40px -40px;
  -webkit-transition: none;
          transition: none;
}
.contact-link i {
  display: block;
  margin: 0 0 5px;
  color: #565656;
}
.contact-link.big-link {
  padding: 25px;
  margin: 50px 0 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.contact-link.peignes {
  background-image: url(../layoutImg/peignes.png);
}
.contact-link.bananes {
  background-image: url(../layoutImg/bananes.png);
}
.contact-link:hover .link,
.contact-link:focus .link {
  color: #ff5fac;
}
/******* CLASSES GENERALES  *******/
.center,
.section {
  text-align: center;
}
.left {
  text-align: left;
}
.bg-white {
  background: #fff;
}
.bg-purple {
  background: #b5006a url(../layoutImg/texture-purple.png) 50% 50% fixed;
}
.bg-yellow {
  background: #ffc200 url(../layoutImg/texture-yellow.png) 50% 50% fixed;
}
.bg-blue {
  background: #2ac0ce url(../layoutImg/texture-blue.png) 50% 50% fixed;
}
.bg-mauve,
.head .fd {
  background: #b5006a url(../layoutImg/texture-blue.png) 50% 50% fixed;
}
.bg-pink {
  background: #ff5fac url(../layoutImg/texture-purple.png) 50% 50% fixed;
}
.black {
  color: #565656;
}
.sup-title,
.cat {
  display: block;
  font-family: 'geomanist', sans-serif;
  font-size: 0.95em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-transform: uppercase;
}
.sup-title {
  margin: 0 0 15px;
  font-size: .78em;
}
.sup-title + h2 {
  margin-top: -13px;
}
.cat {
  margin: 10px 0;
}
.sub-title {
  font-family: 'klinic', sans-serif;
  font-size: 0.78em;
  font-weight: normal;
  font-style: normal;
}
.table {
  display: table;
  width: 100%;
}
.w50 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.table .w50 {
  display: table-cell;
}
.hidden {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/******* HEADER *******/
#header {
  top: 30px;
  left: 4%;
}
#header,
#main-menu {
  position: fixed;
  z-index: 10;
}
.logo {
  display: block;
  width: 180px;
  height: 180px;
  float: left;
  background: url(../layoutImg/logo-small.png) 50% 50%;
  background-repeat: no-repeat;
  background-size: 120px;
  text-indent: -999em;
  overflow: hidden;
  -webkit-transition: none;
          transition: none;
}
.logo.sprite {
  background-size: 720px;
  background-position: 0 0;
}
.logo.mouche {
  background-image: url(../layoutImg/_logo-mouche.png);
}
.logo.banane {
  background-image: url(../layoutImg/_logo-banane.png);
}
.logo.bisou {
  background-image: url(../layoutImg/_logo-bisou.png);
}
.logo.moustache {
  background-image: url(../layoutImg/_logo-moustache.png);
}
.purple .logo,
.no-js .page-template-default .logo,
.no-js .single .logo {
  background: url(../layoutImg/logo-rose-small.png) no-repeat;
  background-position: 50% 50% !important;
  background-size: 120px;
}
#main-menu {
  width: 160px;
  padding: 15px 0 15px 30px;
  top: 60px;
  right: 4%;
  font-family: 'geomanist', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
#main-menu ul {
  padding: 0;
  margin: 0;
}
#main-menu .big-menu > li > a {
  text-transform: uppercase;
}
#main-menu a {
  color: #fff;
}
#main-menu a:hover,
#main-menu a:focus {
  opacity: .7;
}
#main-menu a:active {
  opacity: 1;
}
#main-menu.purple a,
.no-js .page-template-default #main-menu a,
.no-js .single #main-menu a {
  color: #b5006a;
}
#main-menu .actif a {
  opacity: .5;
  padding: 0 0 0 5px;
}
#main-menu .actif a:after {
  width: 5px;
  overflow: visible;
}
#main-menu .logo {
  display: none;
}
#main-menu .logo:hover,
#main-menu .logo:focus {
  opacity: 1;
}
#main-menu .submenu {
  display: none;
  width: 110px;
  margin: 0 0 20px;
  text-align: left;
}
#main-menu .submenu li {
  margin: 2px 0;
}
#fdMenu {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
          transition: opacity 0.7s ease-in-out;
}
.menuOpen #fdMenu {
  top: 0;
  opacity: 1;
}
#fdMenu.close {
  top: 100%;
  opacity: 0;
}
#burger {
  display: none;
  width: 30px;
  height: 18px;
  position: relative;
  overflow: visible;
}
#burger span {
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  background: #fff;
  border-radius: 70px;
  -webkit-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}
#burger .b1 {
  top: 0;
}
#burger .b2 {
  top: 8px;
}
#burger .b3 {
  top: 16px;
}
#burger i {
  color: #fff;
  position: absolute;
  top: -3px;
  left: -52px;
  -webkit-transition: 0.3s all 0.05s ease-in-out;
          transition: 0.3s all 0.05s ease-in-out;
}
#burger:hover {
  opacity: .8;
}
#burger:hover .b1,
#burger:focus .b1 {
  top: -2px;
}
#burger:hover .b3,
#burger:focus .b3 {
  top: 18px;
}
#burger:active .b1 {
  top: 2px;
}
#burger:active .b3 {
  top: 14px;
}
.menuOpen #burger {
  position: fixed;
}
.menuOpen #burger span {
  -webkit-transition: 0.3s ease-in-out 0.05s;
          transition: 0.3s ease-in-out 0.05s;
}
.menuOpen #burger .b1,
.menuOpen #burger .b3 {
  top: 9px;
}
.menuOpen #burger .b1 {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
}
.menuOpen #burger .b2,
.menuOpen #burger i {
  opacity: 0;
}
.menuOpen #burger .b3 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
/******* FOOTER *******/
#footer {
  padding-top: 70px;
  padding-bottom: 40px;
  overflow: hidden;
  color: #9f9f9f;
}
.page-template-default #footer > div,
.single #footer > div {
  border-top: 2px solid #e9e9e9;
  padding: 30px 0 0;
}
#footer > div > .w50 {
  float: right;
}
#footer .menu {
  max-width: 220px;
}
#footer .menu:first-child {
  margin: 0 0 75px;
}
.phrase {
  width: 100%;
  max-width: 460px;
  float: right;
  text-align: center;
}
.phrase .h3 {
  display: table;
  margin: 0 auto 15px;
  line-height: 1.1em;
}
.phrase .h3 span {
  display: table-cell;
  vertical-align: middle;
}
#phrase-creuse {
  padding: 25px 45px 40px;
  border: 1px dashed;
  position: relative;
  margin: 25px 0 0;
  color: #b5006a;
}
#phrase-creuse button {
  font-size: .78em;
}
#phrase-creuse button span {
  display: inline-block;
  vertical-align: top;
  margin: 3px 0 0;
  font-size: 12px;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
#phrase-creuse button:hover span,
#phrase-creuse button:focus span {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition: transform 0.4s ease-in-out;
}
.no-js #phrase-creuse button {
  display: none;
}
#cisors {
  position: absolute;
  top: -25px;
  left: 30px;
}
#cisors.open #cisors1,
#phrase-creuse:hover #cisors1 {
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
#cisors.open #cisors2,
#phrase-creuse:hover #cisors2 {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
#cisors.close #cisors1 {
  -webkit-transform: rotate(-7deg);
      -ms-transform: rotate(-7deg);
          transform: rotate(-7deg);
}
#cisors.close #cisors2 {
  -webkit-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
          transform: rotate(7deg);
}
#cisors.on-right {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
#cisors.on-bottom {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#cisors.on-left {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.cisors {
  position: absolute;
  font-size: 50px;
  color: #b5006a;
  -webkit-transition: .1s;
          transition: .1s;
}
.cisors.close {
  -webkit-transition: .2s;
          transition: .2s;
}
#cisors2 {
  top: 3px;
}
/******* WRAPPER *******/
#wrapper {
  overflow: hidden;
}
/******* ENTETE *******/
.head {
  overflow: hidden;
}
.head .container {
  padding-top: 5px;
  padding-bottom: 70px;
}
.head .container.on + img {
  opacity: 0;
}
.page-template-presta .head {
  height: 80vh;
}
.page-template-presta .head .section-cell {
  padding-bottom: 0;
}
.page-template-presta .head .container {
  padding-top: 70px;
  padding-bottom: 0;
}
.head .img {
  -webkit-transition: opacity 0.1s ease-in-out;
          transition: opacity 0.1s ease-in-out;
}
.head .img,
.head .fd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.head .fd {
  opacity: .3;
}
/******* PAGE TYPE *******/
.page-content {
  padding-top: 55px;
}
.page-content p {
  padding: 0 75px;
}
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,
.page-content ul {
  padding: 0 155px;
}
.page-content h2 {
  font-size: 2em;
  margin: 1.5em 0;
}
.page-content h3 {
  padding-top: 10px;
  font-size: 1.5em;
  margin: 1em 0 1.5em;
}
.page-content h4 {
  font-size: 1.2em;
}
.page-content h5 {
  font-size: 1em;
}
.page-content h6 {
  font-size: .85em;
}
.page-content .ezcol h2,
.page-content .ezcol h3,
.page-content .ezcol h4,
.page-content .ezcol h5,
.page-content .ezcol h5 {
  padding: 0 80px;
}
.page-content .ezcol p {
  padding: 0;
}
.page-content .btn + .btn {
  margin: 0 0 0 10px;
}
/******* ACCUEIL *******/
#pipe {
  max-width: 90%;
  z-index: -1;
}
#vous h2,
#vous .h2 {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .25em;
}
.page-template-presta #vous h2,
.page-template-presta #vous .h2 {
  margin-top: 0;
}
#vous h2 a,
#vous .h2 a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
#vous h2 a:before,
#vous .h2 a:before {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: -70px;
  content: '\e602';
  font-size: 60px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}
.lt-ie9 #vous h2 a:before,
.lt-ie9 #vous .h2 a:before {
  display: none;
}
#vous h2 a:hover,
#vous .h2 a:hover,
#vous h2 a:focus,
#vous .h2 a:focus {
  color: #fff;
}
#vous h2 a:hover div:after,
#vous .h2 a:hover div:after,
#vous h2 a:focus div:after,
#vous .h2 a:focus div:after,
.no-js #vous h2 a:hover:after,
.no-js #vous .h2 a:hover:after,
.no-js #vous h2 a:focus:after,
.no-js #vous .h2 a:focus:after {
  background: #fff;
}
#vous h2 a:hover:before,
#vous .h2 a:hover:before {
  opacity: 1;
}
#vous h2 a:active,
#vous .h2 a:active {
  opacity: .7;
}
#vous h2 strong,
#vous .h2 strong,
#vous h2 a,
#vous .h2 a {
  font-family: 'geomanist-bold', sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
#vous strong,
#vous span {
  -webkit-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}
#vous.fade strong,
#vous.fade span,
#vous.fade a {
  opacity: .2;
}
#vous.fade .on {
  opacity: 1;
}
#vous.fade .on:active {
  opacity: .7;
}
#vous.fade #bgVous {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}
#vous.fade1 #bgVous {
  background-image: url(../layoutImg/vous/teletubies.png);
  background-position: 50% 100%;
}
#vous.fade2 #bgVous {
  background-image: url(../layoutImg/vous/tronconneuse.png);
}
#vous.fade3 #bgVous {
  background-image: url(../layoutImg/vous/noise.png);
}
#vous.fade4 #bgVous {
  background-image: url(../layoutImg/vous/fouet.png);
}
#bgVous {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}
#confiance {
  overflow: hidden;
}
#confiance h2 {
  margin-left: 45%;
}
#live .blog-list {
  padding: 0 0 0 10px;
}
#live .blog-list img {
  width: 100%;
}
#instagram {
  padding: 0 10px 0 0;
}
#instagram .hover {
  width: 250px;
  height: 0;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.isMobile #instagram .hover,
.no-js #instagram .hover {
  height: 250px;
  top: 0;
}
#instagram .meta:before {
  content: '\e600';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  font-size: 20px;
}
#instagram .desc {
  display: block;
  margin: 20px 0 0;
}
#instagram img {
  width: 100%;
}
#bgMasques {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../layoutImg/masques-pink.png) fixed;
  background-position: 0 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.1s;
          transition: opacity 0.3s ease-in-out 0.1s;
}
#bgMasques.on,
.no-js #bgMasques,
.isMobile #bgMasques {
  opacity: 1;
}
.isMobile #bgMasques {
  background-attachment: scroll;
}
/******* PRESTAS *******/
.page-template-presta h2 {
  padding: 0 20px 10px;
  border-bottom: 1px dashed;
  position: relative;
  z-index: 1;
}
.page-template-presta .second-menu {
  background: #ffc200;
  border-color: #ffd140;
}
.presta-slider ul {
  position: relative;
}
.presta-slider .presta-slide {
  width: 100%;
  max-width: 540px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.presta-slider .presta-slide > div {
  margin: 50px 0 0;
}
.presta-slider .presta-slide p {
  margin: 0;
}
.no-js .presta-slider .presta-slide {
  position: relative;
}
.presta-slider .presta-nav {
  padding: 30px;
  margin: 1.5vh 0 3vh;
}
.presta-slider .presta-nav li {
  display: inline-block;
}
.presta-slider .presta-nav button {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 3px;
  text-indent: -99em;
  overflow: hidden;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 99%;
}
.presta-slider .presta-nav button:hover {
  background: rgba(255, 255, 255, 0.8);
}
.presta-slider .presta-nav button.actif {
  background: #b5006a;
}
.isMobile .presta-slider .presta-nav button {
  width: 17px;
  height: 17px;
  margin: 0 5px;
}
.bg-ateliers,
.bg-interventions,
.bg-formations {
  background-repeat: no-repeat;
  max-width: 80%;
  position: absolute;
  background-size: 100%;
}
.bg-ateliers {
  width: 497px;
  height: 510px;
  background-image: url(../layoutImg/vous/noise.png);
}
#bgA1 {
  bottom: 50px;
  left: 7%;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
#bgA2 {
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
.bg-interventions {
  width: 671px;
  height: 393px;
  background-image: url(../layoutImg/vous/tronconneuse.png);
}
#bgI1 {
  left: 5%;
  bottom: 60px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
#bgI2 {
  top: -65px;
  left: 25%;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}
.bg-formations {
  width: 572px;
  height: 399px;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../layoutImg/vous/fouet.png);
}
#bgF1 {
  bottom: -40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#bgF2 {
  top: 0;
}
.plus-presta {
  padding: 0 0 40px;
}
.plus-presta h2 {
  color: #fff;
}
.plus-presta h2 span {
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.plus-presta .btn {
  margin: 0 40px 5px;
}
/* @end */
/* @end */
/* @group Responsive horizontal */
@media (max-width: 1350px) {
  img.alignright,
  img.alignleft {
    display: block;
    float: none;
    margin: 10px auto;
  }
  img.alignnone {
    max-width: 100%;
    margin: 10px auto;
  }
  #header {
    left: 0;
  }
  #main-menu {
    right: 0;
  }
}
@media (max-width: 1260px) {
  .container {
    max-width: 1050px;
  }
  .page-content h2,
  .page-content h3,
  .page-content h4,
  .page-content h5,
  .page-content h6,
  .page-content ul {
    padding: 0 50px;
  }
  .page-content p {
    padding: 0 20px;
  }
  .page-content .ezcol h2,
  .page-content .ezcol h3,
  .page-content .ezcol h4,
  .page-content .ezcol h5,
  .page-content .ezcol h5 {
    padding: 0 50px;
  }
  .presta-list .title {
    font-size: 1.3em;
  }
}
@media (max-width: 1150px) {
  h1 {
    font-size: 6em;
  }
  .slide blockquote .quote {
    width: 215px;
    height: 195px;
    background-size: 100%;
    font-size: .9em;
    padding-top: 45px;
  }
  .slide blockquote .by {
    margin-left: 2.2%;
  }
  #header {
    left: -10px;
  }
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  #main-menu {
    width: 150px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 950px;
  }
  .black-hover-link .hover .content {
    font-size: .9em;
  }
  .presta-list .hover {
    top: 77%;
    font-size: .9em;
  }
}
@media (max-width: 979px) {
  .container {
    padding: 0 20px;
  }
  .second-menu ul {
    width: 100%;
  }
  .second-menu li {
    left: 35px;
  }
  .second-menu li.left {
    left: 35px;
  }
  .second-menu li.right {
    right: 20px;
    left: auto;
  }
  .second-menu a {
    font-size: 1.1em;
  }
  .second-menu a:before {
    left: -25px;
    font-size: 25px;
  }
  .presta-list .hover {
    top: 79%;
    font-size: .95em;
  }
  #header,
  #main-menu {
    position: absolute;
  }
  #header {
    top: -10px;
  }
  #main-menu {
    top: 20px;
  }
  .js #main-menu {
    width: 85px;
    top: 35px;
  }
  .js #main-menu > div {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #000;
    text-align: center;
    -webkit-transform: perspective(3000) rotateY(90deg);
    -ms-transform: perspective(3000) rotateY(90deg);
    transform: perspective(3000) rotateY(90deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  .js #main-menu > div > div {
    display: table;
    width: 100%;
    height: 100%;
  }
  .js #main-menu .big-menu {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.1em;
  }
  .js #main-menu .big-menu > li:first-child {
    margin: 30px 0 0;
  }
  .js #main-menu .big-menu > li > a {
    display: block;
    padding: 2vh 0;
    margin: 0 0 15px;
    border-bottom: 1px dashed;
  }
  .js #main-menu .big-menu > li > a:before,
  .js #main-menu .big-menu > li > a:after {
    display: none;
  }
  .js #main-menu .logo {
    display: block;
    position: fixed;
    top: -10px;
    left: -10px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: .4s opacity .1s;
            transition: .4s opacity .1s;
  }
  .js #main-menu .submenu {
    display: inline-block;
  }
  .menuOpen #main-menu .logo {
    opacity: 1;
  }
  .js #burger {
    display: block;
  }
  .head {
    padding-top: 140px;
  }
  .page-template-presta .head .container {
    padding-top: 0;
  }
  .presta-slider .presta-slide > div {
    margin: 40px 0 0;
  }
  .presta-slider .presta-nav {
    padding: 20px;
    margin: 1vh 0 0;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 5em;
  }
  h2,
  .h2 {
    font-size: 2.2em;
  }
  h2.light,
  .h2.light {
    font-size: 2.2em;
  }
  h3,
  .h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5,
  .h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1em;
  }
  .page-content .ezcol {
    width: 100%;
  }
  .slide blockquote {
    margin-left: 0;
    text-align: center;
  }
  .slide blockquote .by {
    display: block;
    margin: 10px auto 0;
  }
  .bullshit.big {
    width: 480px;
    height: 480px;
  }
  .bullshitBtn.top-left,
  .bullshitBtn.bottom-left {
    left: 5%;
  }
  .bullshitBtn.top-right,
  .bullshitBtn.bottom-right {
    right: 5%;
  }
  .slider #next,
  .slider #prev {
    top: 40%;
  }
  .slide .img,
  .slide .txt {
    display: block;
    width: 100%;
  }
  .slide .img {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .slide .txt {
    margin: 20px 0 0;
    text-align: center;
  }
  .slide h3 {
    margin: 50px 0;
    max-width: none;
  }
  .tv {
    left: -40px;
    right: 0;
    margin: auto;
  }
  .presta-list li {
    width: 49%;
    height: 49%;
  }
  .presta-list li:nth-child(even) {
    margin: 0 0 2% 2%;
  }
  .presta-list li.five {
    margin: 0;
  }
  .presta-list .hover {
    top: 81%;
  }
  #footer {
    text-align: center;
  }
  #footer > div > .w50 {
    display: block;
    width: 100%;
    float: none;
  }
  #footer .menu {
    width: 33.3%;
    max-width: none;
  }
  #footer .menu ul {
    max-width: 110px;
    margin: 0 auto;
    text-align: left;
  }
  #footer .menu li {
    margin: 3px 0;
  }
  .phrase {
    display: inline-block;
    float: none;
    margin: 0 0 50px;
  }
  .home .head .bullshitBtn,
  #confiance .bullshitBtn {
    display: none;
  }
  #vous.fade .section-cell {
    background-size: 80%;
  }
  #vous h2 a:before,
  #vous .h2 a:before {
    width: 35px;
    height: 35px;
    left: -40px;
    font-size: 35px;
    top: 12px;
  }
  #confiance h2 {
    margin-left: 0;
    text-align: center;
  }
  #live .table {
    display: block;
  }
  #live .table .w50 {
    display: block;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  #live #instagram {
    padding: 0;
    margin-bottom: 20px;
  }
  #live .blog-list {
    padding: 0;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
  h2,
  .h2 {
    font-size: 2em;
  }
  h2.light,
  .h2.light {
    font-size: 2em;
  }
  .second-menu a {
    font-size: .9em;
  }
  .second-menu a:before {
    left: -20px;
    font-size: 20px;
  }
  .second-menu li {
    left: 25px;
  }
  .second-menu li.left {
    left: 25px;
  }
  .second-menu li.right {
    right: 10px;
  }
  #vous h2 a:before,
  #vous .h2 a:before {
    width: 30px;
    height: 30px;
    left: -35px;
    font-size: 30px;
    top: 10px;
  }
}
@media (max-width: 550px) {
  .presta-list li {
    width: 100%;
    height: 100%;
    max-width: 360px;
  }
  .presta-list li:nth-child(even) {
    margin: 3% 0;
  }
  .presta-list .hover {
    top: 85%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }
  h1 .small {
    font-size: .45em;
    margin: 0 0 -0.05em;
  }
  .page-content h2,
  .page-content h3,
  .page-content h4,
  .page-content h5,
  .page-content h6,
  .page-content ul,
  .page-content p {
    padding: 0;
  }
  .page-content ul {
    padding: 0 0 0 20px;
  }
  .page-content .ezcol h2,
  .page-content .ezcol h3,
  .page-content .ezcol h4,
  .page-content .ezcol h5,
  .page-content .ezcol h6 {
    padding: 0;
  }
  .bullshit.big {
    width: 360px;
    height: 360px;
  }
  .slider {
    padding: 0 30px;
  }
  .slider #next,
  .slider #prev {
    top: 45%;
    width: 30px;
    height: 30px;
  }
  .slider #next:before,
  .slider #prev:before {
    font-size: 30px;
  }
  .second-menu {
    display: none;
  }
  #header {
    top: 20px;
    left: 20px;
  }
  .js #main-menu {
    top: 30px;
  }
  .js #main-menu .logo {
    top: 20px;
    left: 20px;
  }
  .logo {
    width: 80px;
    height: 80px;
    background-size: 80px;
  }
  .logo.sprite {
    background: url(../layoutImg/logo-small.png) 50% 50%;
    background-size: 80px;
  }
  #footer .menu {
    width: 100%;
    margin: 0 0 30px;
  }
  #footer .menu:first-child {
    margin: 0 0 30px;
  }
  .head {
    padding-top: 100px;
  }
}
@media (max-width: 400px) {
  /* fix ie */
  .presta-list img {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .bullshit.big {
    width: 300px;
    height: 300px;
  }
  .blog-list {
    text-align: center;
  }
  .blog-list li {
    width: auto;
    margin: 15px 0 0;
    text-align: left;
  }
  .blog-list li:first-child {
    margin: 0;
  }
  .blog-list li.last {
    margin: 15px 0 0;
  }
  .slider {
    padding: 0;
  }
  .slider #next {
    right: -10px;
  }
  .slider #next:hover {
    right: -15px;
  }
  .slider #prev {
    left: -10px;
  }
  .slider #prev:hover {
    left: -15px;
  }
  #main-menu {
    font-size: .9em;
  }
}
@media (max-height: 850px) {
  .bullshitBtn.top-left,
  .bullshitBtn.top-center,
  .bullshitBtn.top-right {
    top: 10vh;
  }
  .bullshitBtn.bottom-left,
  .bullshitBtn.bottom-center,
  .bullshitBtn.bottom-right {
    bottom: 10vh;
  }
}
@media (max-height: 680px) {
  .section .section-cell {
    padding: 20px 0;
  }
  .bullshitBtn.top-left,
  .bullshitBtn.top-center,
  .bullshitBtn.top-right {
    top: 5vh;
  }
  .bullshitBtn.bottom-left,
  .bullshitBtn.bottom-center,
  .bullshitBtn.bottom-right {
    bottom: 5vh;
  }
  .second-menu {
    height: 50px;
  }
  .second-menu li {
    line-height: 50px;
  }
  .second-menu a:before {
    line-height: 50px;
  }
}
@media (max-height: 680px) and (max-width: 979px) {
  .js #main-menu > div div > ul {
    padding: 70px 0 0;
  }
}
@media (max-height: 500px) {
  .head .container {
    padding-bottom: 10px;
  }
}
/* @end */
/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .logo {
    background-image: url(../layoutImg/logo.png);
  }
  .logo.mouche {
    background-image: url(../layoutImg/_logo-mouche@2x.png);
  }
  .logo.banane {
    background-image: url(../layoutImg/_logo-banane@2x.png);
  }
  .logo.bisou {
    background-image: url(../layoutImg/_logo-bisou@2x.png);
  }
  .logo.moustache {
    background-image: url(../layoutImg/_logo-moustache@2x.png);
  }
  .purple .logo {
    background: url(../layoutImg/logo-rose.png) no-repeat;
    background-position: 50% 50% !important;
    background-size: 120px;
  }
}
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
