@font-face{
    font-family: 'klinic';
    src: url('../fonts/klinic/klinicslabmedium.eot');
    src: url('../fonts/klinic/klinicslabmedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinic/klinicslabmedium.woff2') format('woff2'),
         url('../fonts/klinic/klinicslabmedium.woff') format('woff'),
         url('../fonts/klinic/klinicslabmedium.ttf') format('truetype');
}

@font-face{
    font-family: 'klinicBold';
    src: url('../fonts/klinic/klinicslabbold.eot');
    src: url('../fonts/klinic/klinicslabbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinic/klinicslabbold.woff2') format('woff2'),
         url('../fonts/klinic/klinicslabbold.woff') format('woff'),
         url('../fonts/klinic/klinicslabbold.ttf') format('truetype');
}

@font-face{
    font-family: 'klinicIt';
    src: url('../fonts/klinic/klinicslabmediumit.eot');
    src: url('../fonts/klinic/klinicslabmediumit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klinic/klinicslabmediumit.woff2') format('woff2'),
         url('../fonts/klinic/klinicslabmediumit.woff') format('woff'),
         url('../fonts/klinic/klinicslabmediumit.ttf') format('truetype');
}

@font-face{
    font-family: 'marker';
    src: url('../fonts/marker/permanentmarker.eot');
    src: url('../fonts/marker/permanentmarker.eot?#iefix') format('embedded-opentype'),
         url('../fonts/marker/permanentmarker.woff2') format('woff2'),
         url('../fonts/marker/permanentmarker.woff') format('woff'),
         url('../fonts/marker/permanentmarker.ttf') format('truetype');
}

@font-face{
    font-family: 'geomanist';
    src: url('../fonts/geomanist/geomanist-regular.eot');
    src: url('../fonts/geomanist/geomanist-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-regular.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-regular.woff') format('woff'),
         url('../fonts/geomanist/geomanist-regular.ttf') format('truetype');
}

/*@font-face {
    font-family: 'geomanist-light';
    src: url('../fonts/geomanist/geomanist-light.eot');
    src: url('../fonts/geomanist/geomanist-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light.ttf') format('truetype');
}

@font-face {
    font-family: 'geomanist-medium';
    src: url('../fonts/geomanist/geomanist-medium.eot');
    src: url('../fonts/geomanist/geomanist-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium.ttf') format('truetype');
}*/

@font-face{
    font-family: 'geomanist-bold';
    src: url('../fonts/geomanist/geomanist-bold.eot');
    src: url('../fonts/geomanist/geomanist-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-bold.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-bold.woff') format('woff'),
         url('../fonts/geomanist/geomanist-bold.ttf') format('truetype');
}


.klinic(@size){
  font-family: 'klinic', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
}

.klinicBold(@size){
  font-family: 'klinicBold', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
}

.klinicIt(@size){
  font-family: 'klinicIt', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
}

.marker(@size){
  font-family: 'marker', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
}

.geomanist(@size){
  font-family: 'geomanist', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;}

/*.geomanistLight(@size){
  font-family: 'geomanist-light', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geomanistMedium(@size){
  font-family: 'geomanist-medium', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.geomanistBold(@size){
  font-family: 'geomanist-bold', sans-serif;
  font-size: @size;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?1b6ycd');
  src: url('../fonts/icomoon.eot?1b6ycd#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.woff2?1b6ycd') format('woff2'),
       url('../fonts/icomoon.ttf?1b6ycd') format('truetype'),
       url('../fonts/icomoon.woff?1b6ycd') format('woff'),
       url('../fonts/icomoon.svg?1b6ycd#icomoon') format('svg');
}

[class^='icon-'], [class*=' icon-'], .icomoon{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-right-small:before {
  content: '\e806';
}
.icon-down:before {
  content: '\e805';
}
.icon-up:before {
  content: '\e807';
}
.icon-half-cisors:before {
  content: '\e803';
}
.icon-half-cisors2:before {
  content: '\e804';
}
.icon-loop:before {
  content: '\e802';
}
.icon-right:before {
  content: '\e800';
}
.icon-left:before {
  content: '\e801';
}
.icon-map:before {
  content: '\e600';
}
.icon-arrow:before {
  content: '\e602';
}