/* @group Responsive horizontal */

@media (max-width: 1350px){
    #header{
        left: 0;
    }

    #main-menu{
        right: 0;
    }
}

@media (max-width: 1150px){
    h1{
        font-size: 6em;
    }

    blockquote{
        .quote{
            width: 215px;
            height: 195px;
            background-size: 100%;
            font-size: 1.1em;
        }
        .by{
            margin-left: 2.2%;
        }
    }

    .black-hover-link{
        .hover{
            em, i{
                font-size: 1.1em;
            }
        }
    }

    #footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-menu{
        width: 150px;
    }
}

@media (max-width: 979px){
    .container{
        padding: 0 20px;
    }
    

    #header, #main-menu{
        position: absolute;
    }
    #header{
        top: -10px;
    }
    #main-menu{
        top: 20px;
    }

    .head{
        padding-top: 140px;
    }
}

@media (max-width: 767px){
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 2.2em;
        &.light{
            font-size: 2.2em;
        }
    }
    h3, .h3{
        font-size: 1.8em;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1.2em;
    }
    h6{
        font-size: 1em;
    }

    img{
        &.align-right, &.align-left{
            float: none;
            margin: 10px 0;
        }
    }

    .page-content{
        h2, h3, h4, h5, h6, ul{
            padding: 0 50px;
        }
        p{
            padding: 0 20px;
        }
        .w50{
            width: 100%;
            p{
                padding: 0 20px;
            }
        }
    }

    .slide{
        blockquote{
            margin-left: 0;
            .by{
                display: block;
                margin: 0 auto;
            }
        }
    }

    .bullshit{
        &.big{
            .size(480px);
        }
    }
    
    .slider{
        #next, #prev{
            top: 40%;
        }
    }
    .slide{
        .img, .txt{
            display: block;
            width: 100%;
        }
        .img{
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
        .txt{
            margin: 20px 0 0;
            text-align: center;
        }
        h3{
            margin: 50px 0;
            max-width: none;
        }
    }
    #tv{
        left: -40px;
        right: 0;
        margin: auto;
    }

    #footer{
        text-align: center;
        > div > .w50{
            display: block;
            width: 100%;
        }
        .menu{
            width: 33.3%;
            max-width: none;
        }
    }

    .phrase{
        display: inline-block;
        float: none;
        margin: 30px 0 0;
    }

    #vous{
        &.fade{
            .section-cell{
                background-size: 80%;
            }
        }
        h2{
            a{
                &:before{
                    .size(45px);
                    left: -55px;
                    font-size: 45px;
                }
            }
        }
    }

    #confiance{
        h2{
            margin-left: 0;
            text-align: center;
        }
    }

    #live{
        .table{
            display: block;
            .w50{
                display: block;
                width: 100%;
                max-width: 460px;
                margin: 0 auto;
            }
        }
        #instagram{
            padding: 0;
            margin-bottom: 20px;
        }
        .blog-list{
            padding: 0;
        }
    }
    
}

@media (max-width: 600px){
    h1{
        font-size: 4em;
    }

    h2{
        font-size: 2em;
        &.light{
            font-size: 2em;
        }
    }
}

@media (max-width: 480px){
    h1{
        font-size: 2.6em;
        .small{
            font-size: .45em;
            margin: 0 0 -.05em;
        }
    }

    .page-content{
        h2, h3, h4, h5, h6, ul, p{
            padding: 0;
        }
        ul{
            padding: 0 0 0 20px;
        }
        .w50{
            p{
                padding: 0;
            }
        }
    }

    .bullshit{
        &.big{
            .size(360px);
        }
    }

    .slider{
        padding: 0 30px;
        #next, #prev{
            top: 45%;
            .size(30px);
            &:before{
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 360px){
    .bullshit{
        &.big{
            .size(300px);
        }
    }

    .blog-list{
        text-align: center;
        li{
            width: auto;
            margin: 15px 0 0;
            text-align: left;
            &:first-child{
                margin: 0;
            }
            &.last{
                margin: 15px 0 0;
            }
        }
    }

    .slider{
        padding: 0;
        #next{
            right: -10px;
            &:hover{
                right: -15px;
            }
        }
        #prev{
            left: -10px;
            &:hover{
                left: -15px;
            }
        }
    }
}



@media(max-height: 850px){
    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: 10vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: 10vh;
        }
    }
}

@media(max-height: 680px){
    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: 5vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: 5vh;
        }
    }
}

/* @end */

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    
}


/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}