/******* RESPONSIVE *******/

@media (max-width: 1350px){
    img{
        &.alignright, &.alignleft{
            display: block;
            float: none;
            margin: 10px auto;
        }
        &.alignnone{
            max-width: 100%;
            margin: 10px auto;
        }
    }

    .big-container{
        padding: 18px 2%;
    }

    #header{
        left: 0;
    }

    #main-menu{
        right: 0;
    }

    .single-prestation{
        h1{
            &.small{
                padding: 0 0 0 110px;
            }
        }
        .head{
            .back-link{
                margin: 0 0 0 125px;
            }
        }
    }
}

@media (max-width: 1260px){
    .container{
        max-width: 1050px;
    }

    .page-content{
        h2, h3, h4, h5, h6, ul, ol{
            padding: 0 50px;
        }
        p{
            padding: 0 20px;
        }
        .ezcol{
            h2, h3, h4, h5, h5{
                padding: 0 50px;
            }
        }
    }

    .presta-list{
        .title{
            height: 47px;
            font-size: 1.3em;
        }
    }

    .small-presta-list{
        .title{
            height: 34px;
            font-size: 1em;
        }
        .hover{
            padding: 6px
        }
    }

    .single-prestation{
        h1, .head .sup-title{
            padding: 0 0 0 220px;
        }
        h1{
            &.small{
                width: 550px;
            }
        }
    }

    .contactform{
        padding: 0 0 0 20px;
    }
    .sidebar-contact{
        padding: 0 20px 0 0;
    }
}

@media (max-width: 1150px){
    h1{
        font-size: 3em;
    }

    .slide{
        blockquote{
            .quote{
                width: 215px;
                height: 195px;
                background-size: 100%;
                font-size: .85em;
                padding-top: 45px;
            }
            .by{
                margin-left: 2.2%;
            }
        }
    }

    #header{
        left: -10px;
    }
    #footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    #main-menu{
        width: 150px;
    }

    .home{
        h1{
            font-size: 6em;
        }
    }

    .single-prestation{
        .head{
            .back-link{
                left: 0;
                margin: 0 0 0 160px;
            }
        }
    }
}

@media (max-width: 1100px){
    .container {
        max-width: 950px;
    }

    .black-hover-link{
        .hover{
            .content{
                font-size: .9em;
            }
        }
    }

    .presta-list{
        .hover{
            top: 67%;
            font-size: .9em;
        }
    }

    .single-prestation{
        h1{
            &.small{
                width: 460px;
                font-size: 2.4em;
            }
        }
    }

    .post{
        &.has-img{
            .img{
                width: 40%;
            }
            .content{
                width: 57%;
            }
            &:first-of-type{
                .img{
                    width: 55%;
                }
                .content{
                    width: 42%;
                }
                h2{
                    font-size: 2.4em;
                }
            }
        }
    }

    .contactform, .sidebar-contact{
        padding: 0;
    }
}

@media (max-width: 979px){
    .container{
        padding: 0 20px;
    }

    .big-container{
        padding: 18px 20px;
    }

    .second-menu{
        ul{
            width: 100%;
        }
        li{
            left: 35px;
            &.left{
                left: 35px;
            }
            &.right{
                right: 20px;
                left: auto;
            }
        }
        &.nav-single{
            li{
                &.right{
                    right: 35px;
                }
            }
        }
        a{
            font-size: 1.1em;
            &:before{
                left: -25px;
                font-size: 25px;
            }
            &:after{
                right: -25px;
                font-size: 25px;
            }
        }
    }

    .presta-list{
        .hover{
            top: 69%;
            font-size: .95em;
        }
    }

    .small-presta-list{
        .title{
            height: 35px;
        }
    }


    #header, #main-menu{
        position: absolute;
    }
    #header{
        top: -10px;
    }
    #main-menu{
        top: 20px;
        .js &{
            width: 85px;
            top: 35px;
            a{
                font-weight: 400;
            }
            > div{
                //padding: 30px;
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                height: 100%;
                overflow: auto;
                background: #000;
                text-align: center;
                .transform(perspective(3000) rotateY(90deg));
                .transform-origin(100% 100%);
                .perspective-origin(50% 50%);
                > div{
                    display: table;
                    width: 100%;
                    height: 100%;
                }
            }
            .big-menu{
                display: table-cell;
                vertical-align: middle;
                font-size: 1.1em;
                >li{
                    &:first-child{
                        margin: 30px 0 0;
                    }
                    > a{
                        display: block;
                        padding: 2vh 0;
                        margin: 0 0 15px;
                        border-bottom: 1px dashed;
                        &:before, &:after{
                            display: none;
                        }
                   }
                }
            }
            .logo{
                display: block;
                width: 0;
                height: 0;
                position: fixed;
                top: -10px;
                left: -10px;
                z-index: 1;
                opacity: 0;
                transition: .4s opacity .1s;
            }
            .sub-menu{
                display: inline-block;
            }
        }
        .menuOpen &{
            .logo{
                width: 180px;
                height: 180px;
                opacity: 1;
            }
        }
    }

    .js #burger{
        display: block;
    }

    .head{
        padding-top: 140px;
        .page-template-presta &, .page-template-about{
            .container{
                padding-top: 0;
            }
        }
    }

    .small-slider{
        .small-slide{
            > div{
                margin: 40px 0 0;
            }
        }
        .small-nav{
            padding: 20px;
            margin: 1vh 0 0;
        }
    }

    .single-prestation{
        .head{
            min-height: 660px;
            position: relative;
            text-align: center;
            .section-cell{
                top: 140px;
            }
            .container{
                padding-top: 5px;
            }
            h1, .sup-title{
                padding-left: 0;
            }
            h1{
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;
            }
            .back-link{
                top: 50px !important;
            }
        }
        .page-content{
            margin-top: 0 !important;
        }
        .bullshitBtn.bottom-center{
            display: none;
        }
    }

    .img-presta{
        left: 0;
        right: 0;
        margin: auto;
        &.portrait{
            transform: translateY(9%);
        }
    }

    .presta-sidebar{
        width: 28%;
        margin-right: 10%;
    }
    .presta-content{
        width: 62%;
    }

    .post{
        &:first-of-type{
            margin-top: 50px;
            &.has-img{
               .img{
                   width: 49%;
               }
               .content{
                   width: 48%;
               }
           }
        }
    }
}

@media (max-width: 767px){
    h1{
        font-size: 2.5em;
    }
    h2, .h2{
        font-size: 2.2em;
        &.light{
            font-size: 2.2em;
        }
    }
    h3, .h3{
        font-size: 1.8em;
    }
    h4, .h4{
        font-size: 1.5em;
    }
    h5, .h5{
        font-size: 1.2em;
    }
    h6{
        font-size: 1em;
    }

    .sup-title{
        line-height: 1.4em;
    }

    .page-content{
        font-size: .9em;
        .ezcol{
            width: 100%;
        }
    }

    .bullshit{
        &.big{
            .size(480px);
        }
    }
    .bullshitBtn{
        &.top-left, &.bottom-left{
            left: 5%;
        }
        &.top-right, &.bottom-right{
            right: 5%;
        }
    }

    .slider{
        #next, #prev{
            top: 40%;
        }
    }
    .slide{
        .img, .txt{
            display: block;
            width: 100%;
        }
        .img{
            min-height: 115px;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
        .txt{
            padding: 0;
            margin: 20px 0 30px;
            text-align: center;
        }
        .logo-ref{
            margin: 0 auto;
        }
        .btn{
            float: none;
        }
        h3{
            margin: 50px 0;
            max-width: none;
        }
        blockquote{
            margin-left: 0;
            text-align: center;
            .by{
                display: block;
                margin: 10px auto 0;
            }
        }
    }
    .tv{
        left: -40px;
        right: 0;
        margin: auto;
    }

    .small-slider{
        .small-slide{
            .img-slide{
                width: 100%;
                padding: 0 0 30px;
                img{
                    max-width: 200px;
                }
            }
            .txt-slide{
                width: 100%;
                max-width: 500px;
                h3{
                    font-size: 1.4em;
                }
            }
        }
    }

    .presta-list{
        li{
            .size(49%);
            margin: .5%;
            /*&:nth-child(even){
                margin: 0 0 2% 2%;
            }
            &:nth-child(5){
                margin: 0;
            }*/
        }
        .hover{
            top: 72%;
        }
    }
    .small-presta-list{
        .hover{
            padding: 10px;
        }
        .title{
            height: 47px;
            font-size: 1.3em;
        }
    }

    #footer{
        padding-top: 40px;
        padding-bottom: 0;
        text-align: center;
        > div > .w50{
            display: block;
            width: 100%;
            float: none;
        }
        .menu{
            width: 33.3%;
            max-width: none;
            ul{
                max-width: 140px;
                margin: 0 auto;
                text-align: left;
            }
            li{
                margin: 3px 0;
            }
        }
    }

    .phrase{
        display: inline-block;
        float: none;
        margin: 0 0 50px;
    }

    .home{
        h1{
            font-size: 5em;
        }
        #confiance{
            .bullshitBtn{
                display: none;
            }
        }
        .head{
            .bullshitBtn{
                &.top-left, &.top-right{
                    display: none;
                }
            }
        }
    }

    #vous{
        &.fade{
            .section-cell{
                background-size: 80%;
            }
        }
        h2, .h2{
            a{
                &:before{
                    .size(35px);
                    left: -40px;
                    font-size: 35px;
                    top: 12px;
                    .isMobile &{
                        left: -22px;
                        top: 15px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .sup-title-confiance{
        margin-left: 0;
        text-align: center;
    }

    #live{
        .table{
            display: block;
            .w50{
                display: block;
                width: 100%;
                max-width: 460px;
                margin: 0 auto;
            }
        }
        #instagram{
            padding: 0;
            margin-bottom: 20px;
        }
        .blog-list{
            padding: 0;
        }
    }

    .img-presta{
        h2{
            font-size: .9em;
        }
    }

    .page-template-presta, .page-template-about{
        .bullshitBtn{
            &.top-left, &.top-right{
                display: none;
            }
        }
    }

    .presta-sidebar{
        margin: 30px 0 100px;
        div{
            display: inline-block;
            width: 49%;
            vertical-align: top;
            &:first-of-type{
                margin: 0 2% 0 0;
            }
        }
    }
    .presta-sidebar, .presta-content{
        display: block;
        width: 100%;
    }
    .single-prestation{
        .page-content{
            ul, ol{
                padding: 0 0 0 20px;
            }
        }
    }

    .post, .post:first-of-type{
        &.has-img{
           .img, .content{
               display: block;
               width: 100%;
           }
           .content{
               margin: 20px 0 0;
           }
       }
    }

    .nav-blog{
        position: relative;
        bottom: 0 !important;
        z-index: 0;
        transition: none;
        //background: none;
        .single &{
            border: 0;
        }
        &.cats-visible{
            height: auto;
            transition: none;
            .searchform{
                width: 220px;
            }
            .close-cats{
                right: 0;
                opacity: 1;
            }
        }
        .share{
            display: none;
        }
    }

    .share{
        display: block;
        border-top: 2px dashed #d8d8d8;
        border-bottom: 2px dashed #d8d8d8;
        padding: 20px 0;
        p{
            font-size: 1.1em;
        }
    }

    .searchform{
        float: right;
    }

    .cats{
        display: block;
        width: 100%;
        margin: 0;
        li{
            display: block;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0 0 10px;
        }
    }
    .cats-container{
        position: relative;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0 !important;
        margin: 60px 0 0;
    }
    .cats-btn{
        position: absolute;
        top: -60px;
    }
    .close-cats{
        top: -55px;
        right: -50px;
        opacity: 0;
        transition: transform @transition, opacity @transition;
    }

    .commentform{
        label{
            width: 100%;
            text-align: left;
        }
        textarea{
            width: 100%;
        }
        fieldset{
            span{
                top: auto;
                bottom: 12px;
                left: 0;
            }
        }
        button[type=submit]{
            margin: 10px 0 0;
        }
    }

    .contactform, .sidebar-contact{
        width: 100%;
        padding: 0 20px;
    }

    .contactform{
        label{
            width: 130px;
        }
        textarea{
            width: 370px;
        }
    }

    .sidebar-contact{
        float: none;
        p{
            float: left;
            margin-right: 10%;
            margin-top: 0;
        }
    }

}

@media (max-width: 600px){
    h2, .h2{
        font-size: 2em;
        &.light{
            font-size: 1.7em;
        }
    }

    .bullshitBtn{
        display: none;
    }

    .second-menu{
        a{
            font-size: .9em;
            &:before{
                left: -20px;
                font-size: 20px;
            }
            &:after{
                right: -20px;
                font-size: 20px;
            }
        }
        li{
            left: 25px;
            &.left{
                left: 25px;
            }
            &.right{
                right: 10px;
            }
        }
        &.nav-single{
            li{
                &.right{
                    right: 25px;
                }
            }
        }
    }

    .home{
        h1{
            font-size: 4em;
        }
    }

    #vous{
        h2, .h2{
            a{
                &:before{
                    .size(30px);
                    left: -35px;
                    top: 10px;
                    font-size: 30px;
                    .isMobile &{
                        left: -18px;
                        top: 11px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contactform{
        label{
            width: 100%;
            text-align: left;
        }
        textarea{
            width: 100%;
        }
        fieldset{
            span{
                top: auto;
                bottom: 12px;
                left: 0;
            }
        }
        button[type=submit]{
            margin: 10px 0 0;
        }
    }
}

@media (max-width: 550px){
    .presta-list{
        li{
            .size(100%);
            max-width: 360px;
            margin: 0;
            &:nth-child(even){
                margin: 3% 0;
            }
        }
        .hover{
            top: 76%;
        }
    }

    #vous{
        h2, .h2{
            a{
                &.border{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

    .img-presta{
        img{
            vertical-align: bottom;
        }
        h2{
            padding: 10px;
            background: none;
        }
    }

    .single-prestation{
        .head{
            .container{
                padding-top: 20px;
            }
            .btn{
                max-width: 250px;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }

    .presta-sidebar{
        div{
            display: block;
            width: 100%;
            &:first-of-type{
                margin: 0;
            }
        }
    }
}

@media (max-width: 480px){
    .home{
        h1{
            font-size: 2.5em;
            .small{
                font-size: .45em;
                margin: 0 0 -.05em;
            }
        }
    }

    .page-content{
        h2, h3, h4, h5, h6, p{
            padding: 0;
        }
        ul, ol{
            padding: 0 0 0 20px;
        }
        .ezcol{
            h2, h3, h4, h5, h6{
                padding: 0;
            }
        }
    }

    .bullshit{
        &.big{
            .size(360px);
        }
    }

    .slider{
        padding: 0 30px;
        #next, #prev{
            top: 45%;
            .size(30px);
            &:before{
                font-size: 30px;
            }
        }
    }
    .slide{
        .logo-ref-post{
            + img{
                margin-top: 30px;
            }
        }
    }

    .blog-list{
        li{
            .size(100%);
            margin: 0 0 20px !important;
        }
        .hover{
            width: 250px;
            height: 0;
            top: 250px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            .isMobile &, .no-js &{
                height: 250px;
                top: 0;
            }
        }
    }

    .second-menu:not(.nav-single){
        display: none;
    }

    #header{
        top: 20px;
        left: 20px;
    }

    #main-menu{
        .js &{
            top: 30px;
            .logo{
                top: 20px;
                left: 20px;
            }
        }
        .menuOpen &{
            .logo{
                .size(80px);
            }
        }
    }

    .logo{
        .size(80px);
        background-size: 80px !important;
        &.sprite{
            background: url(../layoutImg/logo-small.png) 50% 50%;
            background-size: 80px !important;
        }
    }

    #footer{
        .menu{
            width: 100%;
            margin: 0 0 30px;
            &:first-child{
                margin: 0 0 30px;
            }
        }
    }

    .head{
        padding-top: 100px;
    }

    .single-prestation{
        .head{
            .back-link{
                display: none;
            }
            .section-cell{
                top: 100px;
            }
        }
    }

    .single-prestation{
        .head{
            min-height: 600px;
            .container{
                padding-top: 50px;
            }
        }
    }

    .nav-single{
        a{
            &:after, &:before{
                font-size: 3em;
            }
        }
        span{
            display: none;
        }
    }

    .pagination{
        text-align: center;
        li{
            display: inline-block;
        }
        a{
           display: block;
           width: 40px;
           height: 40px;
           overflow: hidden;
           &:before{
               position: relative;
               top: 0;
               right: 0;
               left: 0;
               font-size: 40px;
           }
        }
    }

    .contactform, .sidebar-contact{
        padding: 0;
    }
}

@media (max-width: 400px){
    fieldset{
        span{
            font-size: .8em;
        }
    }

    /* fix ie */
    .presta-list{
        img{
            width: 100%;
        }
    }

    .nav-blog, .isMobile .nav-blog{
        height: 115px;
        &.cats-visible{
            .searchform{
                width: 100%;
                opacity: 1;
            }
        }
    }
    .searchform, .isMobile .searchform{
        width: 100%;
        float: none;
    }
    .cats-container, .isMobile .cats-container{
        margin: 45px 0 0;
    }
    .cats-btn, .isMobile .cats-btn{
        top: -50px;
    }
    .close-cats, .isMobile .close-cats{
        top: -45px;
    }

    .contactform{
        fieldset{
            span{
                bottom: 15px;
            }
        }
        p{
            &.error{
                max-width: none;
            }
        }
    }
}

@media (max-width: 360px){
    .bullshit{
        &.big{
            .size(300px);
        }
    }

    .slider{
        padding: 0;
        #next{
            right: 0;
            &:hover{
                right: -5px;
            }
        }
        #prev{
            left: 0;
            &:hover{
                left: -5px;
            }
        }
    }
    .slide{
        h3{
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #main-menu{
        font-size: .9em;
    }

    #vous{
        h2, .h2{
            font-size: 1.6em;
        }
    }

    .img-presta{
        &:not(.paysage){
            bottom: -25px !important;
        }
        img{
            width: 70%;
        }
        h2{
            width: 55%;
            height: auto;
            padding: 25px;
        }
    }
}



/*@media(min-height: 940px){
    .single-prestation{
        .head{
            .btn{
                top: 735px;
            }
        }
    }
}*/

@media(max-height: 960px){
    .single-prestation{
        .head{
            height: 680px;
        }
        .page-content{
            margin-top: 680px;
        }
    }
}

@media(max-height: 850px){
    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: 10vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: 10vh;
        }
    }

    .single-prestation{
        .head{
            height: 580px;
        }
        .page-content{
            margin-top: 580px;
        }
    }

    .img-presta{
        width: 515px;
        &:not(.paysage){
            bottom: -50px;
        }
        h2{
            padding-top: 55px;
            font-size: .9em;
        }
    }
}

@media(max-height: 800px){
    .single-prestation{
        .head{
            position: relative;
        }
        .page-content{
            margin-top: 0 !important;
        }
    }
}

@media(max-height: 960px) and (max-width: 979px){
    .img-presta{
        width: 515px;
        &:not(.paysage){
            bottom: -65px;
        }
        h2{
            padding-top: 55px;
        }
    }
}

@media(max-height: 680px){
    .section{
        .section-cell{
            padding: 20px 0;
        }
    }

    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: 5vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: 5vh;
        }
    }

    .second-menu:not(.nav-blog){
        height: 50px;
        li{
            line-height: 50px;
        }
        a{
            &:before, &:after{
                line-height: 50px;
            }
        }
    }

    @media (min-width: 767px){
        .nav-blog, .isMobile .nav-blog{
            height: 70px;
        }
    }

    @media (max-width: 979px){
        .js #main-menu{
            > div{
                div > ul{
                    padding: 70px 0 0;
                }
            }
        }
    }
}

@media(max-height: 500px){
    .head{
        .container{
            padding-bottom: 10px;
        }
    }
}


/******* RETINA *******/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

    .logo{
        background-image: url(../layoutImg/logo.png);
        &.mouche{
            background-image: url(../layoutImg/_logo-mouche@2x.png);
        }
        &.banane{
            background-image: url(../layoutImg/_logo-banane@2x.png);
        }
        &.bisou{
            background-image: url(../layoutImg/_logo-bisou@2x.png);
        }
        &.moustache{
            background-image: url(../layoutImg/_logo-moustache@2x.png);
        }
        .purple &{
            background: url(../layoutImg/logo-rose.png) no-repeat;
            background-position: 50% 50% !important;
            background-size: 120px;
        }
    }

    @media (max-width: 480px){

        .logo{
            background-image: url(../layoutImg/logo.png) !important;
            .purple &, .no-js .page-template-default &, .no-js .single &, .no-img.single:not(.single-prestation) &, .no-img.page-template-default &{
                background-image: url(../layoutImg/logo-rose.png) !important;
            }
        }
    }

}


/******* PRINT *******/

   @media print {
        *{
            color: #000 !important;
        }
        a:not(.black-hover-link):not(.square-link){
            text-decoration: underline;
            &[href]:after{
               content: ' (' attr(href) ')';
            }
            &[href^="#"]:after{
               content: '';
            }
        }
        img{
           max-width: 100% !important;
           page-break-inside: avoid;
        }
        @page{
           margin: .5cm;
        }
        p, h2, h3{
           orphans: 3;
           widows: 3;
        }
        h2, h3{
           page-break-after: avoid;
        }

        .section{
            height: auto !important;
        }
        #fixedMenu, #main-menu, .comments h3:first-of-type, .comments form, .presta-list .hover .link{
            display: none;
        }
   }
