/* @group Responsive horizontal */

@media (max-width: 1150px){
    h1{
        font-size: 7.5em;
    }

    #header, #footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 979px){
    .container{
        padding: 0 20px;
    }

    #header{
        position: absolute;
        top: 20px;
    }

    .head{
        padding-top: 140px;
    }
}

@media (max-width: 767px){
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 2.8em;
        &.light{
            font-size: 2.8em;
        }
    }
    h3, .h3{
        font-size: 2em;
    }
    h4{
        font-size: 1.7em;
    }
    h5{
        font-size: 1.3em;
    }
    h6{
        font-size: 1em;
    }

    #footer{
        text-align: center;
        > .w50{
            display: block;
            width: 100%;
        }
        .menu{
            width: 33.3%;
            max-width: none;
        }
    }

    .phrase{
        display: inline-block;
        float: none;
        margin: 30px 0 0;
    }
}

@media (max-width: 480px){
    h1{
        font-size: 3.2em;
        span{
            font-size: .45em;
            margin: 0 0 -.05em;
        }
    }
}



@media(max-height: 850px){
    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: -10vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: -10vh;
        }
    }
}

@media(max-height: 680px){
    .bullshitBtn{
        &.top-left, &.top-center, &.top-right{
            top: -5vh;
        }
        &.bottom-left, &.bottom-center, &.bottom-right{
            bottom: -5vh;
        }
    }
}

/* @end */

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    
}


/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}