@charset 'utf-8';

@import '_lesshat.less';
@import '_norm.less';
@import '_fonts.less';

@purple: #b5006a;
//@mauve: #b47498;
@yellow: #ffc200;
@blue: #2ac0ce;
@pink: #ff5fac;
@grey: #9f9f9f;
@txt: #565656;

@transition: .15s ease-in-out;

/* @group Styles */

/* @group General */

::-moz-selection{ 
	background: #000;  
	color: #fff;
	text-shadow: none; 
}
::selection{ 
	background: #000;  
	color: #fff; 
	text-shadow: none; 
}

html{
    font-size: 62.5%;
    &.menuOpen{
        overflow: hidden;
    }
}

body{
    color: @txt;
    .klinic(1.8em); // =18px
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(../layoutImg/texture-black.png) 50% 50% fixed;
    .menuOpen &{
        overflow: hidden;
        /* fix windows phone */
        position: absolute; 
        height: 100%; 
        width: 100%;
    }
}

h1, h2, .h2, h3, .h3, h4, h5, .h5{
    font-weight: normal;
    .geomanistBold(1em);
    line-height: 1em;
}
h1{
    font-size: 6.7em;
    margin: 0 0 .35em;
    .small{
        font-size: .35em;
        line-height: 1em;
        display: block;
        margin: 0 0 -.25em;
    }
}
h2, h3, h4, h5{
    color: @purple;
    .section &{
        color: #fff;
    }
}
h2, .h2{
    font-size: 2.8em;
    line-height: 1.3em;
    margin: 1em 0;
    &.light{
        .geomanist(2.8em);
    }
}
h3, .h3{
    font-size: 2.2em;
    margin: 1em 0;
}
h4{
    font-size: 1.8em;
    margin: 1.4em 0;
}
h5, .h5{
    font-size: 1.4em;
    margin: 1.6em 0;
}
h6{
    font-size: 1.2em;
    margin: 2em 0;
}

p{
    margin: 1.8em 0;
    line-height: 1.25em;
}

strong, b{
    .klinicBold(1em);
}
em, i{
    .klinicIt(1em);
}

ol,
ul{
    margin: 5em 0;
    padding: 0 0 0 20px;
    list-style: none;
    li{
        position: relative;
        margin: .8em 0;
        &:before{
            position: absolute;
            left: -20px;
            content: '•';
            .klinicBold(18px);
        }
    }
}

img{
    max-width: 100%;
    height: auto;
    &.alignleft{
        float: left;
        margin: 10px 20px 10px -75px;
    }
    &.alignright{
        float: right;
        margin: 10px -75px 10px 20px;
    }
    &.alignnone{
        max-width: 150%;
        margin: 0 -75px;
    }
}

blockquote{
    max-width: 610px;
    margin: 3.5em auto;
    &:extend(em);
    font-size: 1.3em;
    text-align: center;
    p{
        padding: 0;
        margin: 20px 0;
        line-height: 1.4em;
        + p{
            font-size: .85em;
            &:before{
                content: '― ';
            }
        }
    }
}




/******* LIENS / BOUTONS *******/

a, button{
    color: @purple;
    transition: @transition;
    &:focus, &:hover{
        color: @pink;
    }
    &:focus{
        outline: 0;
    }
    &:active{
        color: @blue;
    }
}

button{
    border: 0;
}

.underline{
    position: relative;
    text-decoration: none;
    &:after{
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;
        background: @purple;
        transition: @transition;
    }
}

.btn{
    display: inline-block;
    padding: 15px 25px;
    border: 3px solid;
    .geomanist(.89em);
    text-decoration: none;
    text-transform: uppercase;
    color: @purple;
    &:hover, &:focus{
        background: @purple;
        border-color: @purple;
        color: #fff;
    }
    &:active{
        background: darken(@purple, 10%);
        border-color: darken(@purple, 10%);
        color: #fff;
    }
    .section &{
        color: #fff;
        &:hover, &:focus{
            background: #fff;
            border-color: #fff;
        }
        &:active{
            color: #fff;
        }
    }
    .bg-purple &{
        &:hover, &:focus{
            color: @purple;
        }
        &:active{
            background: darken(@purple, 10%);
            border-color: darken(@purple, 10%);
        }
    }
    .bg-yellow &{
        &:hover, &:focus{
            color: @yellow;
        }
        &:active{
            background: darken(@yellow, 10%);
            border-color: darken(@yellow, 10%);
        }
    }
    .bg-blue &{
        &:hover, &:focus{
            color: @blue;
        }
        &:active{
            color: darken(@blue, 10%);
            border-color: darken(@blue, 10%);
        }
    }
    .bg-pink &{
        &:hover, &:focus{
            color: @pink;
        }
        &:active{
            background: darken(@pink, 10%);
            border-color: darken(@pink, 10%);
        }
    }
    &.btn-down, &.btn-right{
        padding-left: 35px;
        position: relative;
        &:before{
            display: block;
            .size(18px);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 12px;
            margin: auto;
            &:extend(.icomoon);
            font-size: 18px;
        }
    }
    &.btn-down{
        &:before{
            content: '\e805';
            transition: top @transition;
        }
        &:hover, &:focus{
            &:before{
                top: 5px;
            }
        }
    }
    &.btn-right{
        &:before{
            content: '\e806';
            transition: left @transition;
        }
        &:hover, &:focus{
            &:before{
                left: 15px;
            }
        }
    }
}

.btn-down{
    &.icon-down{
        display: inline-block;
        .size(70px);
        position: relative;
        font-size: 70px;
        color: #fff;
        text-decoration: none;
        &:before{
            display: block;
            position: absolute;
            top: 0;
        }
        &:hover, &:focus{
            color: @purple;
            &:before{
                top: 5px;
            }
        }
    }
}

.link{
    position: relative;
    .klinicBold(1em);
    color: @purple;
    text-decoration: underline;
    &:before{
        content: '\e806';
        position: absolute;
        top: 3px;
        left: -15px;
        &:extend(.icomoon);
        text-decoration: none;
    }
    &:hover{
        color: @pink;
    }
}

.bullshitBtn{
    position: absolute;
    opacity: .7;
    &.top-left, &.top-center, &.top-right{
        top: 5vh;
    }
    &.bottom-left, &.bottom-center, &.bottom-right{
        bottom: 5vh;
    }
    &.top-left, &.bottom-left{
        left: 20%;
    }
    &.top-center, &.bottom-center{
        left: 45%;
    }
    &.top-right, &.bottom-right{
        right: 20%;
    }
    &.not-a-btn{
        cursor: auto;
        opacity: .8;
        &:active{
            opacity: 1;
        }
    }
    &:hover, &:focus{
        opacity: 1;
    }
    &:active{
        opacity: .4;
    }
}
.bullshit{
    .size(10px);
    border: 1px solid transparent;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    transition: .4s ease-in-out;
    img{
        min-width: 200px;
        max-width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.big{
        .size(760px);
        transition: .8s ease-in-out;
        &.full{
            .size(100%);
            transition: none;
            img{
                max-width: 90%;
            }
        }
    }
}


/******* MODULES *******/

.container{
    max-width: 1200px;
    padding: 0 130px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    opacity: 1;
    transition: opacity .1s ease-in-out;
    &.on{
        opacity: 0;
    }
}

.section{
    &:extend(.center);
    display: table;
    width: 100%;
    height: 650px;
    height: 90vh;
    position: relative;
    color: #fff;
    .section-cell{
        display: table-cell;
        padding: 50px 0;
        vertical-align: middle;
    }
}

.menu{
    display: inline-block;
    vertical-align: top;
    ul{
        &:extend(.reset-ul all);
        font-size: .78em;
    }
  a{
    position: relative;
    text-decoration: none;
    &:before{
        content: '›';
        display: inline-block;
        margin: 0 5px 0 0;
    }
    &:after{
        width: 0;
        position: absolute;
        left: 0;
        content: '-';
        overflow: hidden;
    }
    &:hover, &:focus{
        padding: 0 0 0 5px;
        &:after{
            width: 5px;
            overflow: visible;
        }
    }
  }
}

.reset-ul{
    padding: 0;
    margin: 0;
    li{
        margin: 0;
        &:before{
            display: none;
        }
    }
}

.second-menu{
    width: 100%;
    height: 70px;
    border-top: 1px dashed #fff;
    position: fixed;
    bottom: -70px;
    z-index: 12;
    overflow: hidden;
    ul{
        &:extend(.reset-ul all);
        width: 730px;
        position: relative;
        margin: 0 auto;
    }
    li{
        position: absolute;
        top: 0;
        line-height: 70px;
        transition: top .3s ease-in-out;
        &.left{
            left: 0;
        }
        &.right{
            right: 0;
        }
        &.up{
            a{
                &:before{
                    content: '\e807';
                }
            }
            &.hide{
                top: 70px;
            }
        }
        &.down{
            a{
                &:before{
                    content: '\e805';
                }
            }
            &.hide{
                top: -70px;
            }
        }
    }
    a{
        text-decoration: none;
        &:before{
            position: absolute;
            left: -30px;
            &:extend(.icomoon);
            font-size: 35px;
            line-height: 70px;
        }
    }
    .isMobile &{
        display: none;
    }
}

.slider{
    padding: 0 50px;
    position: relative;
    ul{
        height: 500px;
        position: relative;
        &:extend(.reset-ul all);
        .no-js &{
            height: auto;
        }
    }
    #next, #prev{
        display: block;
        .size(40px);
        position: absolute;
        top: 30%;
        z-index: 1;
        overflow: hidden;
        &:extend(.icomoon);
        text-indent: -99em;
        color: #fff;
        font-weight: 700;
        .ie10 &, .ie9 &{
            font-weight: normal;
        }
        &:before{
            display: block;
            text-indent: 0;
            font-size: 40px;
        }
        &:hover, &:focus{
            opacity: .6;
        }
    }
    #next{
        right: 0;
        &:before{
            content: '\e800';
        }
        &:hover{
            right: -5px;
        }
    }
    #prev{
        left: 0;
        &:before{
            content: '\e801';
        }
        &:hover{
            left: -5px;
        }
    }
}
_:-ms-input-placeholder, .slider{
    #next, #prev{
        &:before{
            font-weight: normal;
        }
    }
}
.slide{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .img, .txt{
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    .img{
        width: 35%;
        padding: 70px 40px 0 90px;
        position: relative;
        img{
            max-width: 155px;
        }
    }
    .txt{
        width: 55%;
        margin: 0 0 0 10%;
    }
    h3{
        max-width: 350px;
        margin-bottom: 70px;
    }
    .anim-slide{
        opacity: 0;
        .no-js &{
            opacity: 1;
        }
    }
    blockquote{
        max-width: none;
        position: relative;
        margin: 30px 0 30px -32px;
        font-size: 1em;
        text-align: left;
        b{
            .geomanistBold(1em);
        }
        .quote, .by{
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
        .quote{
            width: 244px;
            height: 220px;
            padding: 50px 30px 50px 55px;
            background: url(../layoutImg/bulle.png) no-repeat 100% 0;
            .marker(1em);
            line-height: 1.6em;
            text-align: center;
            color: @blue;
            &:before{
                content: '« ';
            }
            &:after{
                content: ' »';
            }
        }
        .by{
            max-width: 125px;
            margin: 10px 0 10px 8%;
            .geomanist(.78em);
            b{
                display: block;
            }
        }
    }
    .no-js &{
        position: relative;
        overflow: hidden;
    }
}
.tv{
    width: 301px;
    height: 742px;
    position: absolute;
    top: 30px;
    left: -17px;
    z-index: -1;
    background: url(../layoutImg/tv.png) no-repeat;
}

.blog-list{
    &:extend(.reset-ul all);
    li{
        display: inline-block;
        .size(47.73%);
        position: relative;
        vertical-align: top;
        &:first-child{
            margin: 0 4.54% 4.44% 0;
        }
        &.last{
            margin: 0 0 0 4.54%;
        }
    }
    .hover{
        top: 220px;
        bottom: 12px;
        left: 12px;
        right: 12px;
        .isMobile &, .no-js &{
            top: 12px;
        }
    }
    .black-hover-link{
        overflow: hidden;
    }
}

.black-hover-link{
    display: block;
    position: relative;
    .hover{
        padding: 0 10px;
        position: absolute;
        overflow: hidden;
        background: fade(#000, 60%);
        color: #fff;
        .content{
            margin-top: 50px;
            opacity: 0;
            .isMobile &, .no-js &{
                margin-top: 0;
                opacity: 1;
            }
        }
        .sup-title{
            margin-top: -20px;
            opacity: 0;
            .isMobile &, .no-js &{
                margin-top: 0;
                opacity: 1;
            }
        }
        .content{
            display: block;
        }
        .isMobile &, .no-js &{
            padding: 10px;
        }
    }
    &:active{
        border: 3px solid @pink;
    }
}

.presta-list{
    &:extend(.reset-ul all);
    li{
        display: inline-block;
        .size(32%);
        vertical-align: top;
        &.two{
            margin: 0 2% 2%;
        }
        &.five{
            margin: 0 2%;
        }
    }
    .hover, .contact-link{
        position: absolute;
        &:before{
            content: '';
            width: 0px;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        > span{
            display: inline-block;
            width: 98%;
            box-sizing: border-box;
            vertical-align: middle;
        }
    }
    .hover{
        display: block;
        padding: 10px;
        top: 80%;
        bottom: 12px;
        left: 12px;
        right: 12px;
        overflow: hidden;
        background: fade(@yellow, 80%);
        .link{
            margin-top: 50px;
            opacity: 0;
        }
    }
    .link{
        display: inline-block;
        transition: color @transition;
    }
    .title{
        display: block;
        .geomanistBold(1.67em);
        line-height: 1em;
    }
    .cat{
        display: block;
        margin-top: 40px;
        opacity: 0;
    }
    a{
        display: block;
        color: #fff;
    }
    .contact-link{
        top: 0;
        bottom: 0;
        background-image: url(../layoutImg/ampoules.png);
        > span{
            padding: 0 39px;
        }
    }
    .no-js &, .isMobile &{
        .hover{
            top: 12px;
            .link{
                margin-top: 0;
                opacity: 1;
            }
        }
        .cat{
            margin-top: 10px;
            opacity: 1;
        }
    }
}

.contact-link{
    display: block;
    text-decoration: none;
    background-position: 40px -40px;
    background-color: #ffe180;
    transition: none;
    i{
        display: block;
        margin: 0 0 5px;
        color: @txt;
    }
    &.big-link{
        padding: 25px;
        margin: 50px 0 0;
        
    }
    &.peignes{
        background-image: url(../layoutImg/peignes.png);
    }
    &.bananes{
        background-image: url(../layoutImg/bananes.png);
    }
    &:hover, &:focus{
        .link{
            color: @pink;
        }
    }
}


/******* CLASSES GENERALES  *******/

.center{
    text-align: center;
}
.left{
    text-align: left;
}

.bg-white{
    background: #fff;
}
.bg-purple{
    background: @purple url(../layoutImg/texture-purple.png) 50% 50% fixed;
}
.bg-yellow{
    background: @yellow url(../layoutImg/texture-yellow.png) 50% 50% fixed;
}
.bg-blue{
    background: @blue url(../layoutImg/texture-blue.png) 50% 50% fixed;
}
.bg-mauve{
    background: @purple url(../layoutImg/texture-blue.png) 50% 50% fixed;
}
.bg-pink{
    background: @pink url(../layoutImg/texture-purple.png) 50% 50% fixed;
}

.black{
    color: @txt;
}

.sup-title, .cat{
    display: block;
    .geomanist(.95em);
    line-height: 1em;
    text-transform: uppercase;
}
.sup-title{
    margin: 0 0 15px;
    font-size: .78em;
    + h2{
        margin-top: -13px;
    }
}
.cat{
    margin: 10px 0;
}
.sub-title{
    .klinic(.78em);
}

.table{
    display: table;
    width: 100%;
}

.w50{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .table &{
        display: table-cell;
    }
}

.hidden{
    display: none !important;
}

.clearfix:before,
.clearfix:after{
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}


/******* HEADER *******/

#header{
    top: 30px;
    left: 4%;
}

#header, #main-menu{
    position: fixed;
    z-index: 10;
}

.logo{
    display: block;
    .size(180px);
    float: left;
    background: url(../layoutImg/logo-small.png) 50% 50%;
    background-repeat: no-repeat;
    background-size: 120px;
    text-indent: -999em;
    overflow: hidden;
    transition: none;
    &.sprite{
        background-size: 720px;
        background-position: 0 0;
    }
    &.mouche{
        background-image: url(../layoutImg/_logo-mouche.png);
    }
    &.banane{
        background-image: url(../layoutImg/_logo-banane.png);
    }
    &.bisou{
        background-image: url(../layoutImg/_logo-bisou.png);
    }
    &.moustache{
        background-image: url(../layoutImg/_logo-moustache.png);
    }
    .purple &, .no-js .page-template-default &, .no-js .single &{
        background: url(../layoutImg/logo-rose-small.png) no-repeat;
        background-position: 50% 50% !important;
        background-size: 120px;
    }
}

#main-menu{
    width: 160px;
    padding: 15px 0 15px 30px;
    top: 60px;
    right: 4%;
    .geomanist(1em);
    ul{
        padding: 0;
        margin: 0;
    }
    .big-menu{
        > li  > a{
            text-transform: uppercase;
        }
    }
    a{
        color: #fff;
        &:hover, &:focus{
            opacity: .7;
        }
        &:active{
            opacity: 1;
        }
    }
    &.purple, .no-js .page-template-default &, .no-js .single &{
        a{
            color: @purple;
        }
    }
    .actif{
        a{
            opacity: .5;
            padding: 0 0 0 5px;
            &:after{
                width: 5px;
                overflow: visible;
            }
        }
    }
    .logo{
        display: none;
        &:hover, &:focus{
            opacity: 1;
        }
    }
    .sub-menu{
        display: none;
        width: 110px;
        margin: 0 0 20px;
        text-align: left;
        li{
            margin: 2px 0;
        }
    }
}

#fdMenu{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: fade(#000, 70%);
    opacity: 0;
    transition: opacity .7s ease-in-out;
    .menuOpen &{
        top: 0;
        opacity: 1;
    }
    &.close{
        top: 100%;
        opacity: 0;
    }
}

#burger{
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    overflow: visible;
    span{
        display: block;
        width: 30px;
        height: 2px;
        position: absolute;
        background: #fff;
        border-radius: 70px;
        transition: @transition;
    }
    .b1{
        top: 0;
    }
    .b2{
        top: 8px;
    }
    .b3{
        top: 16px;
    }
    i{
        color: #fff;
        position: absolute;
        top: -3px;
        left: -52px;
        transition: .3s all .05s ease-in-out;
    }
    &:hover{
        opacity: .8;
    }
    &:hover, &:focus{
        .b1{
            top: -2px;
        }
        .b3{
            top: 18px;
        }
    }
    &:active{
        .b1{
            top: 2px;
        }
        .b3{
            top: 14px;
        }
    }
    .menuOpen &{
        position: fixed;
        span{
            transition: .3s ease-in-out .05s ;
        }
        .b1, .b3{
            top: 9px;
        }
        .b1{
            transform: rotate(140deg);
        }
        .b2, i{
            opacity: 0;
        }
        .b3{
            transform: rotate(45deg);
        }
    }
}


/******* FOOTER *******/

#footer{
    padding-top: 70px;
    padding-bottom: 40px;
    overflow: hidden;
    color: @grey;
    > div{
        .page-template-default &, .single &{
            border-top: 2px solid #e9e9e9;
            padding: 30px 0 0;
        }
        > .w50{
            float: right;
        }
    }
    .menu{
        max-width: 220px;
        &:first-child{
            margin: 0 0 75px;
        }
    }
}

.phrase{
    width: 100%;
    max-width: 460px;
    float: right;
    text-align: center;
    .h3{
        display: table;
        margin: 0 auto 15px;
        line-height: 1.1em;
        span{
            display: table-cell;
            vertical-align: middle;
        }
    }
}
#phrase-creuse{
    padding: 25px 45px 40px;
    border: 1px dashed;
    position: relative;
    margin: 25px 0 0;
    color: @purple;
    button{
        font-size: .78em;
        span{
            display: inline-block;
            vertical-align: top;
            margin: 3px 0 0;
            font-size: 12px;
            .transition(@transition);
        }
        &:hover, &:focus{
            span{
                transform: rotate(360deg);
                transition: transform .4s ease-in-out;
            }
        }
        .no-js &{
            display: none;
        }
    }
    &:hover{
        #cisors1{
            &:extend(#cisors.open #cisors1);
        }
        #cisors2{
            &:extend(#cisors.open #cisors2);
        }
    }
}

#cisors{
    position: absolute;
    top: -25px;
    left: 30px;
    &.open{
        #cisors1{
            transform: rotate(15deg);
        }
        #cisors2{
            transform: rotate(-15deg);
        }
    }
    &.close{
        #cisors1{
            transform: rotate(-7deg);
        }
        #cisors2{
            transform: rotate(7deg);
        }
    }
    &.on-right{
        transform: rotate(90deg);
    }
    &.on-bottom{
        transform: rotate(180deg);
    }
    &.on-left{
        transform: rotate(270deg);
    }
}
.cisors{
    position: absolute;
    font-size: 50px;
    color: @purple;
    transition: .1s;
    &.close{
        transition: .2s;
    }
}
#cisors2{
    top: 3px;
}


/******* WRAPPER *******/

#wrapper{
    overflow: hidden;
}


/******* ENTETE *******/

.head{
    overflow: hidden;
    .container{
        padding-top: 5px;
        padding-bottom: 70px;
        &.on{
            + img{
                opacity: 0;
            }
        }
    }
    .page-template-presta &{
        height: 80vh;
        .section-cell{
            padding-bottom: 0;
        }
        .container{
            padding-top: 70px;
            padding-bottom: 0;
        }
    }
    .page-template-default &{
        height: 80vh;
    }
    .img{
        transition: opacity .1s ease-in-out;
    }
    .img, .fd{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .fd{
        &:extend(.bg-mauve);
        opacity: .3;
    }
}


/******* PAGE TYPE *******/

.page-content{
    padding-top: 55px;
    p{
        padding: 0 75px;
    }
    h2, h3, h4, h5, h6, ul{
        padding: 0 155px;
    }
    h2{
        font-size: 2em;
        margin: 1.5em 0;
    }
    h3{
        padding-top: 10px;
        font-size: 1.5em;
        margin: 1em 0 1.5em;
    }
    h4{
        font-size: 1.2em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: .85em;
    }
    .ezcol{
        h2, h3, h4, h5, h5{
            padding: 0 80px;
        }
        p{
            padding: 0;
        }
    }
    .btn{
        margin: 0 5px 5px 0;
    }
}


/******* ACCUEIL *******/

#pipe{
    max-width: 90%;
    z-index: -1;
}

#vous{
    h2, .h2{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .25em;
        .page-template-presta &{
            margin-top: 0;
        }
        a{
            display: inline-block;
            position: relative;
            text-decoration: none;
            .no-js &{
                &:extend(.underline all);
            }
            div{
                &:extend(.underline all);
            }
            &:before{
                display: block;
                .size(60px);
                position: absolute;
                top: 10px;
                left: -70px;
                content: '\e602';
                font-size: 60px;
                &:extend(.icomoon);
                color: #fff;
                opacity: 0;
                transition: @transition;
                .lt-ie9 &{
                    display: none;
                }
            }
            &:hover, &:focus{
                color: #fff;
                opacity: 1 !important;
                div, .no-js &{
                    &:after{
                        background: #fff;
                    }
                }
            }
            &:hover{
                &:before{
                    opacity: 1;
                }
            }
            &:active{
                opacity: .7;
            }
        }
        strong, a{
            .geomanistBold(1em);
        }
    }
    strong, span{
        transition: @transition;
    }
    &.fade{
        h2, .h2{
            strong, span, a{
                opacity: .2;
            }
        }
        .on{
            opacity: 1;
            &:active{
                opacity: .7;
            }
        }
        #bgVous{
            opacity: 1;
            transition: opacity .5s ease-in-out;
        }
    }
    &.fade1{
        #bgVous{
            background-image: url(../layoutImg/vous/teletubies.png);
            background-position: 50% 100%;
        }
    }
    &.fade2{
        #bgVous{
            background-image: url(../layoutImg/vous/tronconneuse.png);
        }
    }
    &.fade3{
        #bgVous{
            background-image: url(../layoutImg/vous/noise.png);
        }
    }
    &.fade4{
        #bgVous{
            background-image: url(../layoutImg/vous/fouet.png);
        }
    }
}
#bgVous{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    .page-template-presta &{
        bottom: 20%;
    }
}

#confiance{
    overflow: hidden;
    h2{
        margin-left: 45%;
    }
}

#live{
    .blog-list{
        padding: 0 0 0 10px;
        img{
            width: 100%;
        }
    }
}
#instagram{
    padding: 0 10px 0 0;
    .hover{
        width: 250px;
        height: 0;
        top: 250px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .isMobile &, .no-js &{
            height: 250px;
            top: 0;
        }
    }
    .meta{
        &:before{
            content: '\e600';
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            font-size: 20px;
            &:extend(.icomoon);
        }
    }
    .desc{
        display: block;
        margin: 20px 0 0;
    }
    img{
        width: 100%;
    }
}
#bgMasques{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../layoutImg/masques-pink.png) fixed;
    background-position: 0 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out .1s;
    &.on, .no-js &, .isMobile &{
        opacity: 1;
    }
    .isMobile &{
        background-attachment: scroll;
    }
}


/******* PRESTAS *******/

.page-template-presta{
    h2{
        padding: 0 20px 10px;
        border-bottom: 1px dashed;
        position: relative;
        z-index: 1;
    }
    .second-menu{
        background: @yellow;
        //border-color: #ffd140;
    }
}

.presta-slider{
    ul{
        &:extend(.reset-ul all);
        position: relative;
    }
    .presta-slide{
        width: 100%;
        max-width: 540px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        > div{
            margin: 50px 0 0;
        }
        p{
            margin: 0;
        }
        &.actif{
            z-index: 1;
        }
        .no-js &{
            position: relative;
        }
    }
    .presta-nav{
        padding: 30px;
        margin: 1.5vh 0 3vh;
        li{
            display: inline-block;
        }
        button{
            display: block;
            .size(11px);
            margin: 0 3px;
            text-indent: -99em;
            overflow: hidden;
            background: #fff;
            background: fade(#fff, 50%);
            border-radius: 99%;
            &:hover{
                background: fade(#fff, 80%);
            }
            &.actif{
                background: @purple;
            }
            .isMobile &{
                .size(17px);
                margin: 0 5px;
            }
        }
    }
}

.bg-ateliers, .bg-interventions, .bg-formations{
    background-repeat: no-repeat;
    max-width: 80%;
    position: absolute;
    background-size: 100%;
}
.bg-ateliers{
    .size(497px, 510px);
    background-image: url(../layoutImg/vous/noise.png);
}
#bgA1{
    bottom: 50px;
    left: 7%;
    transform: rotate(-60deg);
}
#bgA2{
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg-interventions{
    .size(671px, 393px);
    background-image: url(../layoutImg/vous/tronconneuse.png);
}
#bgI1{
    left: 5%;
    bottom: 60px;
    transform: rotate(30deg);
}
#bgI2{
   top: -65px;
   left: 25%;
   right: 0;
   margin: auto;
   transform: rotate(-35deg); 
}
.bg-formations{
    .size(572px, 399px);
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../layoutImg/vous/fouet.png);
}
#bgF1{
    bottom: -40px;
    transform: rotate(180deg);
}
#bgF2{
    top: 0;
}

.plus-presta{
    padding: 0 0 40px;
    h2{
        color: #fff;
        span{
            display: block;
            max-width: 650px;
            margin: 0 auto;
        }
    }
    .btn{
        margin: 0 40px 5px;
    }
}



/* @end */

/* @end */

@import '_mediaqueries.less';